In [1]:
# pip install pymysql 
import pymysql
conn = pymysql.connect(host="210.121.189.12",
                      user="remoteuser",
                      password="mbcdkzkepal0902!",
                      database="devdb",
                      charset="utf8")

In [3]:
cursor = conn.cursor()
sql = "INSERT INTO PERSONAL VALUES (%s, %s, 'ceo', null, curdate(), 9000,10,40)"
pno = input("Enter Personal No:")
pname = input("Enter Personal Name:")
cursor.execute(sql, (pno, pname))
print("수행결과 : ", cursor.rowcount)
# conn.commit()
cursor.close()

수행결과 :  1