In [1]:
from IPython.display import display, HTML
display(HTML("""<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{fontsize:12pt;padding:5px;}
table.dataframe{font-size:12px;}))
</style>
"""))

<font size="5" color="red">ch03 데이터 구조</font>
- 리스트[], 튜플(), 딕셔너리{}, 셋
- list[], tuple(), dictionary{}, set

#  1절. 리스트
## 1.1 리스트 만들기

- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료)함수 이용도 가능
- index : 각 요소의 위치, 0부터 시작, 맨 마지막 index는 -1
- 슬라이싱([from: stop: step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [4]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [5]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x = {x}')
print(f'y = {y}')
print(f'z = {z}')
print(f'fruits = {fruits}')

x = mango
y = apple
z = orange
fruits = ['mango', 'apple', 'orange']

In [14]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의 정수
        # from 생략시 : 0
        # by 생략시 : 1

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(101, 111))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [16]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [9]:
# 반복문(3회)

for i in range(3):
    print(i)

0
1
2

In [17]:
# len() : list 데이터 수

fruits = ['mango', 'apple', 'orange', 'grape']

for i in range(len(fruits)) :
    print("{}번째 과일은 {}입니다".format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [19]:
for value in fruits :
    print(value)

mango
apple
orange
grape

In [25]:
# enumerate(나열가능한 자료) : (index, 값)들의 셋들

list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [26]:
for idx, value in [[0, 'mango'], [1, 'apple'], [2, 'orange'], [3, 'grape']] :
    print("{}번째 과일은 {}입니다".format(idx, value))

for idx, value in enumerate(fruits) :
    print("{}번째 과일은 {}입니다".format(idx, value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다
0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [31]:
# list는 여러 타입의 데이터를 담을 수 있음

numbers = [0, True, '2', 3, [4, 5, 6]]
print(numbers)
print(numbers[1], numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True 5

In [83]:
# 2차원 list

# numbers_2d = [[90, 91, 92, 93], [80, 81, 82, 83], [70, 71, 72, 73]]
numbers_2d = [[90, 91, 92, 93], 
              [80, 81, 82, 83], 
              [70, 71, 72, 73]]
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [84]:
for idx1, value1 in enumerate(numbers_2d) :
#     print(value1)
    for idx2, value2 in enumerate(numbers_2d[idx1]) :
        print('({}번째 학생의 {}번째 과목의 점수는 {}이다)'.format(idx1, idx2, value2))

(0번째 학생의 0번째 과목의 점수는 90이다)
(0번째 학생의 1번째 과목의 점수는 91이다)
(0번째 학생의 2번째 과목의 점수는 92이다)
(0번째 학생의 3번째 과목의 점수는 93이다)
(1번째 학생의 0번째 과목의 점수는 80이다)
(1번째 학생의 1번째 과목의 점수는 81이다)
(1번째 학생의 2번째 과목의 점수는 82이다)
(1번째 학생의 3번째 과목의 점수는 83이다)
(2번째 학생의 0번째 과목의 점수는 70이다)
(2번째 학생의 1번째 과목의 점수는 71이다)
(2번째 학생의 2번째 과목의 점수는 72이다)
(2번째 학생의 3번째 과목의 점수는 73이다)

In [85]:
for i, row in enumerate(numbers_2d) :
    for j, value in enumerate(row) :
        print('{}행{}열 : {}'.format(i, j, value), end = '\t')
    print()  # 개행

0행0열 : 90	0행1열 : 91	0행2열 : 92	0행3열 : 93
1행0열 : 80	1행1열 : 81	1행2열 : 82	1행3열 : 83
2행0열 : 70	2행1열 : 71	2행2열 : 72	2행3열 : 73

In [86]:
for row in numbers_2d :
    for item in row :
        print(item, end = ' ')
    print()

90 91 92 93
80 81 82 83
70 71 72 73

## 1.2 기본 정보 조회

In [74]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0],
              [9, 100, 1, 2, 3],
              [50, 54]]

In [75]:
# 요소의 수

print(len(numbers), len(numbers_2d))

5 3

In [76]:
# 최소값, 최대값

min(numbers), max(numbers)

(1, 12)

In [77]:
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작은 값
# 2차원 list의 max() : 0번 인덱스 요소가 가장 큰 값

min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [78]:
# 문자 list일 경우 ascii 코드값으로 min(), max() 적용

fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [71]:
# 정렬(오름차순, 내림차순)

numbers = [1, 12, 3, 5, 4]

print("오른차순 :", sorted(numbers))
print("내림차순 :", sorted(numbers, reverse = True))
print("sorted함수 사용시 list 내용이 바뀌지 않음 :", numbers)
print("합 :", sum(numbers))

오른차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 list 내용이 바뀌지 않음 : [1, 12, 3, 5, 4]
합 : 25

## 1.3 요소 추가
```
+ : 두 list 연결
* : list를 곱한 수만 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인데스 위치에 추가(기존 데이터는 shift)
```

In [73]:
numbers = [1, 2, 3]
numbers = numbers + numbers
print(numbers)

[1, 2, 3, 1, 2, 3]

In [79]:
numbers = [1, 2, 3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [87]:
# 추가

numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [88]:
numbers.append([5, 6, 7])  # 맨 뒤에 하나의 요소를 추가
print(numbers)

[1, 2, 3, 4, [5, 6, 7]]

In [95]:
# 요소별로 각기 추가

num1, num2 = [1, 2, 3], [1, 2, 3]
num1.append([4, 5, 6])
print(num1)

num2.extend([4, 5, 6])
print(num2)

[1, 2, 3, [4, 5, 6]]
[1, 2, 3, 4, 5, 6]

In [97]:
# idx번째 인데스 위치에 추가(기존 데이터는 shift)

num2.insert(2, 'X')
print(num2)

[1, 2, 'X', 'X', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환

In [98]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [99]:
print(numbers.index(2))  # 0번째 index부터 2가 처음 나오는 index를 반환
print(numbers.index(2, 3))  # 3번째 index부터 2가 처음 나오는 index를 반환

1
5

In [119]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 없어요')

9가 없어요

In [120]:
9 in numbers  # numbers 리스트에 9가 존재하는지 여부

False

In [121]:
def safe_index(lst, data):
    if data in lst: # lst안에 data 있는지 여부
        return lst.index(data)
    else:
        return -1

In [122]:
safe_index(numbers, 9)

-1

In [123]:
# numbers.index(9)
# numbers[20]
numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출 (인데스의 범위를 벗어나도 에러 안 남)
    - [from: stop: step] from부터 stop앞까지 step씩 증가하는 index의 값을 추출
    - from 생략시 처음, stop 생략시 끝, step 생략시 1 (모두 생략 가능)
2. <font color="red">리스트 컴프리헨션</font> : 리스트에서 원하는 데이터를 추출

In [106]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 짝수번째 인덱스 값 출력
print(numbers[::2])
# 거꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [117]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]

# 리스트에서 모든 데이터를 변수에 담아 출력하시오.

result = []

for data in numbers:
    result.append(data)
print(result)

# 리스트에서 짝수 데이터만 변수에 담아 출력하시오

result = []
for data in numbers :
    if data % 2 == 0 :
        result.append(data)
        
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

**리스트컴프리헨션**

In [115]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출

[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [116]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출

[data for data in numbers if data % 2 == 0]

[10, 12, 20]

In [126]:
# ex1. numbers에서 10이상만 추출

numbers = [1, 3, 5, 9, 10, 12, 13, 20]

[data for data in numbers if data >= 10]

[10, 12, 13, 20]

In [129]:
# ex2. fruits에서 5글자가 넘는 과일만 추출

fruits = ['mango', 'apple', 'orange', 'kiwi']

[data for data in fruits if len(data) > 5]

['orange']

In [135]:
# ex3. 3이상의 요소들의 제곱을 추출

L = [1, 2, 3, 4, 5]

[data ** 2 for data in L if data >= 3]

[9, 16, 25]

## 1.6 요소 수정하기

In [137]:
# 인덱스를 이용해서 요소 수정

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [138]:
# 슬라이싱을 이용해서 요소 수정 (step부분이 미포함 : 부분 list가 통채로 수정)

numbers[1:4] = ['X', 'Y', 'Z', 'ㅋ', 'ㅎ']
numbers

[0, 'X', 'Y', 'Z', 'ㅋ', 'ㅎ', 4, 5, 6, 7, 8, 9]

In [139]:
# 슬라이싱을 이용해서 요소 수정 (step부분 포함 : 요소 갯수가 맞아야 함, 갯수가 안맞을 겨우 에러)

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = [99, 99, 99, 99, 99]
numbers

[99, 1, 99, 3, 99, 5, 99, 7, 99, 9]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지울data) : 리스트안의 data가 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [148]:
numbers = [1, 2, 3, 4, 5]

delte_data = numbers.pop()
print("삭제된 데이터 : {}, 리스트 : {}".format(delte_data, numbers))

delte_data2 = numbers.pop(0)
print("삭제된 데이터 : {}, 리스트 : {}".format(delte_data2, numbers))

del numbers[2]
print('numbers :', numbers)

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 1, 리스트 : [2, 3, 4]
numbers : [2, 3]

In [149]:
# remove()는 반환값이 없고, 해당 데이터만 삭제 (해당 데이터가 없으면 에러)

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [150]:
numbers.remove(9)

ValueError: list.remove(x): x not in list

In [151]:
if 9 in numbers : 
    numbers.remove(9)
else : 
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다

In [152]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, "삭제 완료")
    else : 
        print(f'{remove_data}는 없는 아이템입니다')

In [154]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)
print(numbers)

9는 없는 아이템입니다
5는 없는 아이템입니다
[1, 2, 4]