In [103]:
from IPython.display import display, HTML
display(HTML("""<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{fontsize:12pt;padding:5px;}
table.dataframe{font-size:12px;}))
</style>
"""))

<font size="5" color="red">ch05 함수</font>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가 ※ Overloading(오버로딩) : 함수 이름이 같고, 매개변수의 갯수로 다른 함수를 허용하는것
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    명령어n
```

# 1절. 함수의 정의 및 사용

## 1.1 함수 정의

In [2]:
# 함수 정의

def my_message(x, msg) :  # msg를 x번 출력하는 함수
    for i in range(x) : 
        print(msg)

In [3]:
# 함수 사용

my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [4]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [5]:
type(my_msg), type(my_message)

(function, function)

In [1]:
print('Hello')  # 파이썬 내장함수{import 하지 않고 사용할 수 있는 함수}
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [6]:
my_message(2, 'Hello')

Hello
Hello

In [8]:
my_message = 5

In [9]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [11]:
del my_message  # 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [1]:
# 함수 정의

def my_hello() :
    print('Hello, Python')
    print('Hello, World')

In [2]:
# 함수사용 = 함수호출

my_hello()

Hello, Python
Hello, World

In [5]:
# 함수 정의

def my_hello() :
    print('Hello, Python')
    print('Hello, World')
    
#  오버로딩 불가


def my_hello(cnt) :
    for i in range(cnt) :
        print('Hello, Python')
        print('Hello, World')

In [6]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [7]:
my_hello

In [8]:
__name__

'__main__'

In [9]:
if __name__ == '__main__' :
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [13]:
import ch05  # ch05 모듈을 load

In [14]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [16]:
my_hello(3)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [28]:
def my_function() :
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능 (shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [20]:
def fibonacci(n) :
    a, b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a + b
    print()  # 개행

In [23]:
fibonacci(100000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025

In [27]:
a, b

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [31]:
global_var = 100  # 전역변수

def func1() :
    print('함수 안 :', global_var)

func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [32]:
def func2() :
    local_var = 200  # 지역변수
    print('함수 안 :', local_var)

func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [35]:
g_var = 100  # 전역변수

def func3() :
    g_var = 200  # 지역변수
    print('함수 안 (지역변수 g_var) :', g_var)

func3()
print('함수 밖 (전역변수 g_var) :', g_var)

함수 안 (지역변수 g_var) : 200
함수 밖 (전역변수 g_var) : 100

In [37]:
g_var = 100  # 전역변수

def func4() :
    print('함수 안 g_var :', g_var)
    g_var = 200  # 지역변수
    
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [38]:
# 렉시컬 특성

g_var = 100  # 전역변수

def func4() :
    global g_var  # func4 함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200  # 지역변수
    
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

## 1.4 값의 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [39]:
foo = 'a'
id(foo)

2613553358640

In [51]:
def func1(f) :  # 매개변수 f는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f = f * 3
    print('After :', f, 'id(f) :', id(f))

func1(foo)

Before : a id(f) : 2613553358640
After : aaa id(f) : 2613669424496

In [54]:
print(foo, id(foo))

a 2613553358640

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [44]:
L = [1, 2, 3]
id(L)

2613668206976

In [55]:
def func2(f) :  # 매개변수 f는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f.append(4)
    print('After :', f, 'id(f) :', id(f))
    
func2(L)

Before : [1, 2, 3, 4, 4] id(f) : 2613668206976
After : [1, 2, 3, 4, 4, 4] id(f) : 2613668206976

In [56]:
print('L =', L, 'id(L) =', id(L))

L = [1, 2, 3, 4, 4, 4] id(L) = 2613668206976

# 2절. 함수의 실행결과를 반환하는 return

In [62]:
def fibonacci_print(n) :
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n = 10 이면 0 1 1 2 3 5 8 을 출력
    '''
    a, b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a + b
    print()  # 개행
    
def fibonacci_return(n) :
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n = 10 이면 [0 1 1 2 3 5 8] 을 return
    '''
    result = []
    a, b = 0, 1
    while a < n :
        result.append(a)
        a, b = b, a + b
    return result

In [64]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [66]:
y = fibonacci_return(100)
print(y)
print(type(y))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [67]:
def swap(a, b) :
    '''
    매개변수의 순서를 바꿔서 return
    '''
    return b, a

In [71]:
x, y = 5, 10
print(f'함수 실행 전 x = {x}, y = {y}')
x, y = swap(x, y)
print(f'함수 실행 후 x = {x}, y = {y}')

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절 함수의 매개변수 ★

## 3.1 기본값을 갖는 매개변수

In [73]:
def make_url(ip, port = 80) :  # 순서 인수 > 기본값을 갖는 매개변수
    return "https://{}:{}".format(ip, port)

In [77]:
print(make_url('www.naver.com'))
print(make_url('localhost',8090))
print(make_url(port = 8090, ip = 'localhost'))

https://www.naver.com:80
https://localhost:8090
https://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [81]:
# 기본값을 갖는 변수가 스칼라 변수일 때

i = 5

def func2(arg = i) :
    print('arg =', arg)

In [82]:
i = 50
func2()

arg = 5

In [83]:
# 기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은

lst = []

def func3(data, L = lst) :
    'data를 L에 append'
    L.append(data)
    return L

In [88]:
print(func3(10))  # lst가 수정 : [10]
lst

[10, 20, 10]

[10, 20, 10]

In [89]:
print(func3(20))
lst

[10, 20, 10, 20]

[10, 20, 10, 20]

In [90]:
def func4(data, L = None) :
    if L == None :
        L = []
    L.append(data)
    return L

In [91]:
print(func4(10))
print(func4(10, lst))

[10]
[10, 20, 10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [93]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다

def add(a, b) :
    return a + b

def add(a, b, c) :
    return a + b + c

In [94]:
add(1, 2)

TypeError: add() missing 1 required positional argument: 'c'

In [101]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음

def add(*args) :
    '전달받은 매개변수들의 합을 return'
    result_tot = 0  # 누적변수
    for data in args :
        result_tot += data
    return result_tot

In [102]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

1
3
55

In [105]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [106]:
def concat(*subject, sep) :
    return sep.join(subject)

In [107]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [109]:
# 해결책 1 : 매개변수 이름을 지정해서 호출

concat('Python', 'Oracle', 'DL', 'ML', sep = ' / ')

'Python / Oracle / DL / ML'

In [125]:
# 해결책 2 : 기본값을 반드시 갖는 키워드인수 사용

def concat(*subject, sep = ' ~ ') :
    return sep.join(subject)

In [111]:
concat('Python', 'Oracle', 'DL', 'ML', sep = ' / ')

'Python / Oracle / DL / ML'

In [112]:
print('Python', 'Oracle', 'DL', 'ML', sep = ' / ')

Python / Oracle / DL / ML

In [126]:
# 해결책 3 : sep을 순서인수로 앞에 선언

def concat(sep, *subject) :
    return sep.join(subject)

In [127]:
concat(' / ', 'Python', 'Oracle', 'DL', 'ML')

'Python / Oracle / DL / ML'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [135]:
def func5(**kwargs) :
    print(kwargs)
    print(type(kwargs))
    print('이름 :', kwargs.get('name', '대마왕'))
    print('나이 :', kwargs.get('age', 30))
    print('주소 :', kwargs.get('address', '서울'))

In [136]:
func5(name = '홍길동', age = 30, address = '신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [137]:
func5(name = '김길동')

{'name': '김길동'}
<class 'dict'>
이름 : 김길동
나이 : 30
주소 : 서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수 이름 반드시 명시) > 딕셔너리매개변수(**)

In [138]:
def func6(a, b, *c, **d) :
    print('순서인수 a :', a)
    print('순서인수 a :', b)
    print('튜플인수 c :', c)
    print('딕셔너리인수 d :', d)

In [139]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name = '홍길동', age = 30, address = '신림동')

순서인수 a : 10
순서인수 a : 20
튜플인수 a : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리인수 a : {'name': '홍길동', 'age': 30, 'address': '신림동'}

In [140]:
def func7(a, b, *c, d = '기본값', **e) :
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [141]:
func7(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, d = '딴거', name = '홍길동', age = 30, address = '신림동')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'name': '홍길동', 'age': 30, 'address': '신림동'}

In [143]:
# 키워드 인수를 안 썼을 경우

func7(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name = '홍길동', age = 30, address = '신림동')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'name': '홍길동', 'age': 30, 'address': '신림동'}

## 3.6 인수의 언패킹

### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임 (튜플매개변수)

In [147]:
def add(*args) :
    print(args)
    tot = 0
    for num in args :
        tot += num
    return tot

In [148]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [150]:
numbers = [1, 2, 3, 4]
add(*numbers)  # 언패킹

(1, 2, 3, 4)

10

In [152]:
numbers = (1, 2, 3, 4)
add(*numbers)  # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임

In [163]:
def func5(**data) :
    print(type(data))
    for key, item in data.items() :
        print(f'{key} : {item}')

In [164]:
func5( name = '홍길동', age = 30, address = '신림')

<class 'dict'>
name : 홍길동
age : 30
address : 신림

In [165]:
customInfo = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 강남구', 'score' : 900}
func5(**customInfo)

<class 'dict'>
name : 홍길동
age : 30
address : 서울시 강남구
score : 900

# 4절. 람다식
- return 한줄짜리 작은 익명함수

## 4.1 람다식 연습

In [166]:
def add(a, b) :
    return a + b
add(3, 4)

7

In [167]:
add2 = lambda a, b : a + b
add2(3, 4)

7

In [168]:
type(add), type(add2)

(function, function)

In [169]:
(lambda a, b : a + b)(3, 4)

7

In [177]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return

def ex1_(num) :
    if num % 2 == 0 :
        result = '홀수'
    else : 
        result = '짝수'
    return '홀수' if num % 2 else '짝수'

ex1 = lambda num : '홀수' if num % 2 else '짝수'

ex1(10), ex1(-9)

('짝수', '홀수')

In [186]:
# ex2. 두 매개변수의 차이를 return

def diff(a, b) :
    if a > b :
        result = a - b
    else :
        result = b - a
    return result

ex2 = lambda num1, num2 : num1 - num2 if num1 >= num2 else num2 - num1

ex2(10, 8), ex2(9, 13)

(2, 4)

In [187]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return

ex3 = lambda money : money if money > 0 else 'negative'

ex3(1000), ex3(-5000)

(1000, 'negative')

In [195]:
# ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험, 그외는 유효하지 않음

ex4 = lambda score : 'A팀' if 80 <= score <= 100 else \
                     'B팀' if 60 <= score < 80 else \
                     '재시험' if 0 <= score < 60 else \
                     '유효하지 않음'                           # \뒤에 스페이스 하나라도 있으면 에러

ex4(99), ex4(60), ex4(50), ex4(120)

('A팀', 'B팀', '재시험', '유효하지 않음')

In [197]:
# ex5. safe_index를 람다식으로

def safe_index(vector, data):
    if data in vector: # lst안에 data 있는지 여부
        return vector.index(data)
    else:
        return -1
    
ex5 = lambda vector, data : vector.index(data) if data in vector else -1

ex5([1, 2, 3, 4, 5], 3), ex5([1, 2, 3, 4, 5], 9)

(2, -1)