In [1]:
from IPython.display import display, HTML
display(HTML("""<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{fontsize:12pt;padding:5px;}
table.dataframe{font-size:12px;}))
</style>
"""))

<font size="5" color="red">ch03 데이터 구조</font>
- 리스트[], 튜플(), 딕셔너리{}, 셋
- list[], tuple(), dictionary{}, set

#  1절. 리스트
## 1.1 리스트 만들기

- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료)함수 이용도 가능
- index : 각 요소의 위치, 0부터 시작, 맨 마지막 index는 -1
- 슬라이싱([from: stop: step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [4]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [5]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x = {x}')
print(f'y = {y}')
print(f'z = {z}')
print(f'fruits = {fruits}')

x = mango
y = apple
z = orange
fruits = ['mango', 'apple', 'orange']

In [14]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의 정수
        # from 생략시 : 0
        # by 생략시 : 1

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(101, 111))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [16]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [9]:
# 반복문(3회)

for i in range(3):
    print(i)

0
1
2

In [17]:
# len() : list 데이터 수

fruits = ['mango', 'apple', 'orange', 'grape']

for i in range(len(fruits)) :
    print("{}번째 과일은 {}입니다".format(i, fruits[i]))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [19]:
for value in fruits :
    print(value)

mango
apple
orange
grape

In [25]:
# enumerate(나열가능한 자료) : (index, 값)들의 셋들

list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [26]:
for idx, value in [[0, 'mango'], [1, 'apple'], [2, 'orange'], [3, 'grape']] :
    print("{}번째 과일은 {}입니다".format(idx, value))

for idx, value in enumerate(fruits) :
    print("{}번째 과일은 {}입니다".format(idx, value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다
0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [31]:
# list는 여러 타입의 데이터를 담을 수 있음

numbers = [0, True, '2', 3, [4, 5, 6]]
print(numbers)
print(numbers[1], numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True 5

In [83]:
# 2차원 list

# numbers_2d = [[90, 91, 92, 93], [80, 81, 82, 83], [70, 71, 72, 73]]
numbers_2d = [[90, 91, 92, 93], 
              [80, 81, 82, 83], 
              [70, 71, 72, 73]]
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [84]:
for idx1, value1 in enumerate(numbers_2d) :
#     print(value1)
    for idx2, value2 in enumerate(numbers_2d[idx1]) :
        print('({}번째 학생의 {}번째 과목의 점수는 {}이다)'.format(idx1, idx2, value2))

(0번째 학생의 0번째 과목의 점수는 90이다)
(0번째 학생의 1번째 과목의 점수는 91이다)
(0번째 학생의 2번째 과목의 점수는 92이다)
(0번째 학생의 3번째 과목의 점수는 93이다)
(1번째 학생의 0번째 과목의 점수는 80이다)
(1번째 학생의 1번째 과목의 점수는 81이다)
(1번째 학생의 2번째 과목의 점수는 82이다)
(1번째 학생의 3번째 과목의 점수는 83이다)
(2번째 학생의 0번째 과목의 점수는 70이다)
(2번째 학생의 1번째 과목의 점수는 71이다)
(2번째 학생의 2번째 과목의 점수는 72이다)
(2번째 학생의 3번째 과목의 점수는 73이다)

In [85]:
for i, row in enumerate(numbers_2d) :
    for j, value in enumerate(row) :
        print('{}행{}열 : {}'.format(i, j, value), end = '\t')
    print()  # 개행

0행0열 : 90	0행1열 : 91	0행2열 : 92	0행3열 : 93
1행0열 : 80	1행1열 : 81	1행2열 : 82	1행3열 : 83
2행0열 : 70	2행1열 : 71	2행2열 : 72	2행3열 : 73

In [86]:
for row in numbers_2d :
    for item in row :
        print(item, end = ' ')
    print()

90 91 92 93
80 81 82 83
70 71 72 73

## 1.2 기본 정보 조회

In [74]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0],
              [9, 100, 1, 2, 3],
              [50, 54]]

In [75]:
# 요소의 수

print(len(numbers), len(numbers_2d))

5 3

In [76]:
# 최소값, 최대값

min(numbers), max(numbers)

(1, 12)

In [77]:
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작은 값
# 2차원 list의 max() : 0번 인덱스 요소가 가장 큰 값

min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [78]:
# 문자 list일 경우 ascii 코드값으로 min(), max() 적용

fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [71]:
# 정렬(오름차순, 내림차순)

numbers = [1, 12, 3, 5, 4]

print("오른차순 :", sorted(numbers))
print("내림차순 :", sorted(numbers, reverse = True))
print("sorted함수 사용시 list 내용이 바뀌지 않음 :", numbers)
print("합 :", sum(numbers))

오른차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 list 내용이 바뀌지 않음 : [1, 12, 3, 5, 4]
합 : 25

## 1.3 요소 추가
```
+ : 두 list 연결
* : list를 곱한 수만 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인데스 위치에 추가(기존 데이터는 shift)
```

In [73]:
numbers = [1, 2, 3]
numbers = numbers + numbers
print(numbers)

[1, 2, 3, 1, 2, 3]

In [79]:
numbers = [1, 2, 3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [87]:
# 추가

numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [88]:
numbers.append([5, 6, 7])  # 맨 뒤에 하나의 요소를 추가
print(numbers)

[1, 2, 3, 4, [5, 6, 7]]

In [95]:
# 요소별로 각기 추가

num1, num2 = [1, 2, 3], [1, 2, 3]
num1.append([4, 5, 6])
print(num1)

num2.extend([4, 5, 6])
print(num2)

[1, 2, 3, [4, 5, 6]]
[1, 2, 3, 4, 5, 6]

In [97]:
# idx번째 인데스 위치에 추가(기존 데이터는 shift)

num2.insert(2, 'X')
print(num2)

[1, 2, 'X', 'X', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환

In [98]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [99]:
print(numbers.index(2))  # 0번째 index부터 2가 처음 나오는 index를 반환
print(numbers.index(2, 3))  # 3번째 index부터 2가 처음 나오는 index를 반환

1
5

In [119]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 없어요')

9가 없어요

In [120]:
9 in numbers  # numbers 리스트에 9가 존재하는지 여부

False

In [121]:
def safe_index(lst, data):
    if data in lst: # lst안에 data 있는지 여부
        return lst.index(data)
    else:
        return -1

In [122]:
safe_index(numbers, 9)

-1

In [123]:
# numbers.index(9)
# numbers[20]
numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출 (인데스의 범위를 벗어나도 에러 안 남)
    - [from: stop: step] from부터 stop앞까지 step씩 증가하는 index의 값을 추출
    - from 생략시 처음, stop 생략시 끝, step 생략시 1 (모두 생략 가능)
2. <font color="red">리스트 컴프리헨션</font> : 리스트에서 원하는 데이터를 추출

In [106]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 짝수번째 인덱스 값 출력
print(numbers[::2])
# 거꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [117]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]

# 리스트에서 모든 데이터를 변수에 담아 출력하시오.

result = []

for data in numbers:
    result.append(data)
print(result)

# 리스트에서 짝수 데이터만 변수에 담아 출력하시오

result = []
for data in numbers :
    if data % 2 == 0 :
        result.append(data)
        
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

**리스트컴프리헨션**

In [115]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출

[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [116]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출

[data for data in numbers if data % 2 == 0]

[10, 12, 20]

In [126]:
# ex1. numbers에서 10이상만 추출

numbers = [1, 3, 5, 9, 10, 12, 13, 20]

[data for data in numbers if data >= 10]

[10, 12, 13, 20]

In [129]:
# ex2. fruits에서 5글자가 넘는 과일만 추출

fruits = ['mango', 'apple', 'orange', 'kiwi']

[data for data in fruits if len(data) > 5]

['orange']

In [135]:
# ex3. 3이상의 요소들의 제곱을 추출

L = [1, 2, 3, 4, 5]

[data ** 2 for data in L if data >= 3]

[9, 16, 25]

## 1.6 요소 수정하기

In [137]:
# 인덱스를 이용해서 요소 수정

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [138]:
# 슬라이싱을 이용해서 요소 수정 (step부분이 미포함 : 부분 list가 통채로 수정)

numbers[1:4] = ['X', 'Y', 'Z', 'ㅋ', 'ㅎ']
numbers

[0, 'X', 'Y', 'Z', 'ㅋ', 'ㅎ', 4, 5, 6, 7, 8, 9]

In [139]:
# 슬라이싱을 이용해서 요소 수정 (step부분 포함 : 요소 갯수가 맞아야 함, 갯수가 안맞을 겨우 에러)

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = [99, 99, 99, 99, 99]
numbers

[99, 1, 99, 3, 99, 5, 99, 7, 99, 9]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지울data) : 리스트안의 data가 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [148]:
numbers = [1, 2, 3, 4, 5]

delte_data = numbers.pop()
print("삭제된 데이터 : {}, 리스트 : {}".format(delte_data, numbers))

delte_data2 = numbers.pop(0)
print("삭제된 데이터 : {}, 리스트 : {}".format(delte_data2, numbers))

del numbers[2]
print('numbers :', numbers)

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 1, 리스트 : [2, 3, 4]
numbers : [2, 3]

In [149]:
# remove()는 반환값이 없고, 해당 데이터만 삭제 (해당 데이터가 없으면 에러)

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [150]:
numbers.remove(9)

ValueError: list.remove(x): x not in list

In [151]:
if 9 in numbers : 
    numbers.remove(9)
else : 
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다

In [152]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, "삭제 완료")
    else : 
        print(f'{remove_data}는 없는 아이템입니다')

In [154]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)
print(numbers)

9는 없는 아이템입니다
5는 없는 아이템입니다
[1, 2, 4]

## 1.8 정렬하기

In [1]:
numbers = [1, 9, 5, 0, 8]
print("numbers는 변경하지 않고 정렬 :", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고 정렬 : [0, 1, 5, 8, 9]
numbers : [1, 9, 5, 0, 8]

In [3]:
numbers.sort()  # numbers 자체가 정렬한 결과로 바뀜 (기본정렬 : 오름차순)
numbers

[0, 1, 5, 8, 9]

In [5]:
numbers.reverse()  # numbers 자체가 역순으로 변경
numbers

[9, 8, 5, 1, 0]

In [7]:
numbers.sort(reverse = True)
numbers

[9, 8, 5, 1, 0]

In [8]:
lst = [2, 5, 9]
# lst.reverse()
lst = lst[::-1]
lst

[9, 5, 2]

## 1.9 복제하기

In [16]:
# 스칼라 데이터 복제

i = 10    # 원본
copy_i = i  # 복제본
print(f"원본 = {i}, 복사본 = {copy_i} / 원본주소 = {id(i)}, 복사본주소 = {id(copy_i)}")
copy_i = 99
print(f"원본 = {i}, 복사본 = {copy_i} / 원본주소 = {id(i)}, 복사본주소 = {id(copy_i)}")

원본 = 10, 복사본 = 10 / 원본주소 = 2556930621968, 복사본주소 = 2556930621968
원본 = 10, 복사본 = 99 / 원본주소 = 2556930621968, 복사본주소 = 2556930624816

In [17]:
# 리스트(배열, 데이터프레임, 딕셔너리)의 복제

numbers = [5, 8, 1]    # 원본
new_numbers = numbers  # 복제본
new_numbers[0] = 9
print("원본 :", numbers)
print("복제본 :", new_numbers)

원본 : [9, 8, 1]
복제본 : [9, 8, 1]

In [21]:
# 얕은 복사(할당)

numbers = [5, 8, 1]    # 원본
new_numbers = numbers  # 얕은 복사(할당)
print(f"원본 = {numbers}, 복제본 = {new_numbers} / 원본주소 = {id(numbers)}, 복제본주소 = {id(new_numbers)}")
new_numbers[0] = -99
new_numbers.sort()
print("복제본만 지지고 볶고")
print(f"원본 = {numbers}, 복제본 = {new_numbers} / 원본주소 = {id(numbers)}, 복제본주소 = {id(new_numbers)}")

원본 = [5, 8, 1], 복제본 = [5, 8, 1] / 원본주소 = 2557046583680, 복제본주소 = 2557046583680
복제본만 지지고 볶고
원본 = [-99, 1, 8], 복제본 = [-99, 1, 8] / 원본주소 = 2557046583680, 복제본주소 = 2557046583680

In [36]:
# 깊은 복사(복제)

numbers = [5, 8, 1]    # 원본
new_numbers = numbers.copy()  # 깊은 복사(복제)
print(f"원본 = {numbers}, 복제본 = {new_numbers} / 원본주소 = {id(numbers)}, 복제본주소 = {id(new_numbers)}")
new_numbers[0] = -99
new_numbers.sort()
new_numbers.remove(-99)
print("복제본만 지지고 볶고")
print(f"원본 = {numbers}, 복제본 = {new_numbers} / 원본주소 = {id(numbers)}, 복제본주소 = {id(new_numbers)}")

원본 = [5, 8, 1], 복제본 = [5, 8, 1] / 원본주소 = 2557048784512, 복제본주소 = 2557048799168
복제본만 지지고 볶고
원본 = [5, 8, 1], 복제본 = [1, 8] / 원본주소 = 2557048784512, 복제본주소 = 2557048799168

In [23]:
numbers.clear()  # 리스트의 요소를 모두 삭제
numbers

[]

# 2절. 튜플
- 리스트와 유사하지만 읽기전용, 수정이 필요없는 데이터에서 사용
- 수정불가하므로 튜플에 데이터 수정, 추가, 삭제 불가 (제공되는 함수도 많지 않음)
- ().tuple() 이용해서 생성

In [24]:
# city = "('서울', '부산', '인천', '목표')"
# 파이썬은 여러개의 값이 전달될 때, 튜플 타입으로 전달  /  ()를 안치면 튜플 타입으로 전달

city = '서울', '부산', '인천', '목표
print(type(city))
print(city)

<class 'str'>
서울, 부산, 인천, 목표

In [27]:
# city = ['서울', '부산', '인천', '목표']
city = ('서울', '부산', '인천', '목표')
' = '.join(city)

'서울 = 부산 = 인천 = 목표'

In [33]:
l = ['서울']  # 요소가 하나 있는 리스트
print(type(l),l)

<class 'list'> ['서울']

In [35]:
t = ('서울', )  # 요소가 하나 있는 튜플 (, 반드시 기입)
print(type(t),t)

<class 'tuple'> ('서울',)

In [39]:
numbers = (1, 2, 3)
# numbers.remove(3)  # 수정하기 위한 함수는 제공되지 않음
# numbers.append(4)
# numbers.pop()
# numbers.sort()
min(numbers), max(numbers), sum(numbers), sorted(numbers, reverse = True)

(1, 3, 6, [3, 2, 1])

In [55]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)

(2, 0)

In [56]:
if 9 in numbers :
    numbers.index(9)
else : 
    print('9 요소가 없습니다')

9 요소가 없습니다

In [57]:
def safe_index(lst, item) : 
    '''
    lst안에 item 요소가 있으면 item 요소의 index를 반환, 없으면 -1을 반환
    lst : 나열가능한 데이터
    item : 찾을 데이터
    '''
    
#     if item in lst :
#         return lst.index(item)
#     else : 
#         return -1
    return lst.index(item) if item in lst else -1

In [11]:
from safe import safe_index

numbers = (0, 1, 2, (1, 2), 0, 1, 2)
safe_index(numbers, 9), safe_index(numbers, 2)

(-1, 2)

In [12]:
numbers * 3  # 반복

(0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2)

In [8]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력

numbers = (1, 2, 3, 4, 5, 6)
tuple([num ** 2 for num in numbers if num % 2 == 0])

(4, 16, 36)

# 3절. 딕셔너리
- 중괄호를 ({})를 이용해서, 키(key)-값(value) 쌍으로 구성된 자료구조
- 키는 중복불가 (유일한 값), 키에 list는 사용불가
- 값은 중복가능
- 인덱스를 이용한 참조 지원 안 함

In [26]:
dic = {'name' : '홍길동', 1:22, (1, 2): [1, 2]}
print(type(dic))
print(dic)
print('데이터 개수 :', len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 개수 : 3

In [14]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [15]:
print(my_favorite['fruit'])
print(my_favorite.get('fruit'))  # ★

apple

In [16]:
# print(my_favorite['people'])  # 없는 키값을 인덱스 방식으로 참조시 에러

print(my_favorite.get('people'))  #없는 키를 get함수로 참조시 None
print(my_favorite.get('people', '-'))  #없는 키를 get함수로 참조시 '-'

None
-

In [21]:
# 딕셔너리 데이터 수정하기

my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite['fruit'] = 'mango'  # fruit 데이터 수정
print('fruit 수정 후 :',my_favorite)

my_favorite['people'] = '홍길동'  # 데이터 추가
print('my_favorite 추가 후 :',my_favorite)

del my_favorite['fruit']
print('fruit 제거 후 :', my_favorite)

remove_date = my_favorite.pop('number')  # number 키값을 반환하고 제거
print('remove_date :', remove_date)
print('number 제거 후 딕셔너리 :', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
my_favorite 추가 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
fruit 제거 후 : {'number': 12, 'sport': 'golf', 'people': '홍길동'}
remove_date : 12
number 제거 후 딕셔너리 : {'sport': 'golf', 'people': '홍길동'}

In [22]:
# for문을 이용한 튜플(리스트) 출력

my_tup = ('홍길동', 30, '010-9999-8888')

In [25]:
for data in my_tup :
    print(data, end = "\t")
print()

for idx in range(len(my_tup)):
    print(f"{idx}번째 {my_tup[idx]}", end = "\t")
print()

for idx, value in enumerate(my_tup):
    print(f"{idx}번째 {value}", end = "\t")

홍길동	30	010-9999-8888
0번째 홍길동	1번째 30	2번째 010-9999-8888
0번째 홍길동	1번째 30	2번째 010-9999-8888

In [34]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-8888'}

In [35]:
# 엄청 비추

for key in my_dic:
    print(my_dic[key], end='\t')

홍길동	30	010-9999-8888

In [36]:
for data in my_dic.values():
    print(data, end='\t')

홍길동	30	010-9999-8888

In [37]:
my_dic.values()  # 값만 추출

dict_values(['홍길동', 30, '010-9999-8888'])

In [40]:
my_dic.keys()  # 키만 추출

dict_keys(['name', 'age', 'tel'])

In [41]:
my_dic.items()  # (키-값)쌍을 추출

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-8888')])

In [42]:
for key, value in my_dic.items():
    print(f"{key}:{value}", end = "\t")

name:홍길동	age:30	tel:010-9999-8888

In [43]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-8888'))]

In [49]:
for idx, (key, value) in enumerate(my_dic.items()) : 
    print("{}.{:4} : {}".format(idx + 1, key, value))

1.name : 홍길동
2.age  : 30
3.tel  : 010-9999-8888

In [50]:
"홍길동" in my_dic # my_dic.keys()

False

In [51]:
"홍길동" in my_dic.values()

True

In [44]:
# 얕은 복사

my_favorite = {'fruit':'apple', 'number':12}  # 원본
new_favorite = my_favorite  # 복제본(얕은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

In [45]:
# 깊은 복사

my_favorite = {'fruit':'apple', 'number':12}  # 원본
new_favorite = my_favorite.copy()  # 복제본(깊은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

# 4절. 셋
- 중복을 허용하지 않는 집합 (순서없음 == 인덱스없음)
- 중괄호({})나 set()함수를 이용해서 셋 생성
- 추가 : add(), update()
- 집합연산자 : &, |, -
- 삭제 : remove()

In [46]:
fruits = {'banana', 'orange', 'banana', 'banana', 'apple'}
fruits

{'apple', 'banana', 'orange'}

In [47]:
s1 = set([1, 20, 1, 21, 1, 22])
s1

{1, 20, 21, 22}

In [48]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
my_favorite = {'fruit':'apple', 'number':12}
set(my_favorite)

{'fruit', 'number'}

## 추가하기
- add() : 기본자료형, 튜플데이터를 하나의 요소로 추가할 경우
- update() : 리스트, 튜플, 딕셔너리, 셋 요소 하나하나씩 추가할 경우 (dict 사용시 key만 추가)

In [54]:
s2 = {1, 1, 2, 3}
s2.add(4)
s2.update([5, 6, 7])
s2

{1, 2, 3, 4, 5, 6, 7}

In [60]:
# 논리값 False는 False. 0으로
# 논리값 True는 True. 1로

s = {1, 2, 3}
s.add(False)
s.add(True)
s.add(0)
s

{False, 1, 2, 3}

In [61]:
s.remove(True)
s

{False, 2, 3}

## 연산 : &(합집합), |(교집합), -(차집합)
- &, | : 집합연산자, 논리연산자, 비트연산자

In [56]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}

print('s1 | s2 =',s1 | s2)
print('s1 & s2 =',s1 & s2)
print('s1 - s2 =',s1 - s2)

s1 | s2 = {1, 2, 3, 4, 5, 6, 7}
s1 & s2 = {3, 4, 5}
s1 - s2 = {1, 2}

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용함수
- 리스트, 튜플, 셋, 딕셔너리를 for문에 사용시

In [57]:
names = {'길자', '길동', '영자'}
for name in names : 
    print(name, end = "\t")

길동	길자	영자

In [58]:
for no, name in enumerate(names) :
    print(f"{no}.{name}")

0.길동
1.길자
2.영자

In [66]:
names = ['순자', '길동', '길자']
tels = ['010-9999-8888', '010-8888-7777', '010-7777-6666']
adds = ['서울', '인천', '판교']

for idx in range(len(names)) : 
    print("{}. {}의 연락처 : {}, 사는곳 : {}".format(idx + 1,
                                                    names[idx], 
                                                    tels[idx], 
                                                    adds[idx]))

1. 순자의 연락처 : 010-9999-8888, 사는곳 : 서울
2. 길동의 연락처 : 010-8888-7777, 사는곳 : 인천
3. 길자의 연락처 : 010-7777-6666, 사는곳 : 판교

In [67]:
list(zip(names, tels, adds))

[('순자', '010-9999-8888', '서울'),
 ('길동', '010-8888-7777', '인천'),
 ('길자', '010-7777-6666', '판교')]

In [68]:
for name, tel, add in zip(names, tels, adds) :
    print(f"{name} : {tel} - {add}")

순자 : 010-9999-8888 - 서울
길동 : 010-8888-7777 - 인천
길자 : 010-7777-6666 - 판교

In [70]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)) :
    print("{}. {} : {} - {}".format(idx + 1,
                                   name,
                                   tel,
                                   add))

1. 순자 : 010-9999-8888 - 서울
2. 길동 : 010-8888-7777 - 인천
3. 길자 : 010-7777-6666 - 판교

변수가 담을 수 있는 기본 자료형들
```
![자료형들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
```
<img src = "https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
     width = "400"
     style = "float:left">

# 6절. 연습문제

## 실습형

In [90]:
# 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
numbers =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# ex1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [91]:
# ex2. 다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]

numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [92]:
# ex3. 처음 다섯 개 숫자만 출력하세요
numbers[:5]

[1, 2, 3, 4, 5]

In [93]:
# ex4. 리스트에서 짝수번째 데이터만 출력하세요
numbers[::2]

[1, 3, 5, 7, 9, 100, 300, 500]

In [97]:
# ex5. 짝수번째 데이터를 모두 0으로 바꾸세요
for num in range(len(numbers)) :
    if num % 2 == 0 :
        numbers[num] = 0
numbers

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [130]:
numbers2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
numbers2[::2] = len(numbers2[::2]) * [0]
numbers2

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [131]:
# ex5.1 짝수번째 데이터를 모두 0으로 바꾸는게 아닌 출력만 하려면

numbers3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
[numbers3[idx] if idx % 2 != 0 else 0 for idx in range(len(numbers3))]

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [100]:
# ex6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)
numbers[::-1]

[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [132]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요
member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구","score":90}

# ex7. address값을 출력하세요
print(member_info['address'])
print(member_info.get('address'))  # 강추

서울시 마포구
서울시 마포구

In [105]:
# ex8. score 를 출력하고 member_info 딕셔너리에서 삭제하세요
remove_data = member_info.pop('score')
print(remove_data)
print(member_info)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [110]:
# ex9. address를 "서울시 서대문구"로 변경하세요
member_info['address'] = '서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [111]:
# ex10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
list(enumerate(member_info.items()))

[(0, ('name', '홍길동')), (1, ('age', 20)), (2, ('address', '서울시 서대문구'))]

## 서술형

In [112]:
# ex1. 다음 코드를 실행했을 때 출력되는 것은?
L1 = ("orange", "apple", "banana", "kiwi")
new_list = [i for i in L1 if len(i) > 5]
print(new_list)

['orange', 'banana']

In [113]:
# ex2. 다음 코드와 실행결과가 잘못 짝지어진 것은?
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1)))
print(list(range(10,20,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 12, 14, 16, 18]

In [114]:
# ex3. 다음 구문에 의해 출력되는 것은?
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

1

In [115]:
# ex4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은?
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [117]:
# ex5. 다음 구문을 실행할 때 결과는?
numbers = list(range(10))
numbers[::2]= [0] * len(numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [118]:
# ex6. 다음 구문을 실행할 때 결과는?
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2] = numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [119]:
# ex7. 다음 구문을 실행할 때 결과는?
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] =  numbers[:5]
print(numbers)

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [121]:
# ex8. 다음 데이터에서 10을 출력할 수 없는 구문은?
my_dic = {"a":10, "b":20, "c":30}

# print(my_dic[0])
print(my_dic['a'])
print(list(my_dic.items())[0][1])
print(list(my_dic.values())[0])
print(my_dic.get('a'))

10
10
10
10

In [122]:
# ex9. 다음 프로그램의 결과를 출력하시오
fruits = ['apple', 'banana', 'orange']
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
orange

In [123]:
# ex10. 다음 프로그램의 결과를 출력하시오
fruits = ['apple', 'banana', 'orange']
print(len(fruits))

3

In [124]:
# ex11. 파이썬에서 함수를 만들기 위해 선언하는 단어는?
print("정답 : def")

정답 : def