In [1]:
from IPython.display import display, HTML
display(HTML("""<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{fontsize:12pt;padding:5px;}
table.dataframe{font-size:12px;}))
</style>
"""))

<font size="5" color="red">ch05 함수</font>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가 ※ Overloading(오버로딩) : 함수 이름이 같고, 매개변수의 갯수로 다른 함수를 허용하는것
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    명령어n
```

# 1절. 함수의 정의 및 사용

## 1.1 함수 정의

In [2]:
# 함수 정의

def my_message(x, msg) :  # msg를 x번 출력하는 함수
    for i in range(x) : 
        print(msg)

In [3]:
# 함수 사용

my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [4]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [5]:
type(my_msg), type(my_message)

(function, function)

In [1]:
print('Hello')  # 파이썬 내장함수{import 하지 않고 사용할 수 있는 함수}
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [6]:
my_message(2, 'Hello')

Hello
Hello

In [8]:
my_message = 5

In [9]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [11]:
del my_message  # 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [1]:
# 함수 정의

def my_hello() :
    print('Hello, Python')
    print('Hello, World')

In [2]:
# 함수사용 = 함수호출

my_hello()

Hello, Python
Hello, World

In [5]:
# 함수 정의

def my_hello() :
    print('Hello, Python')
    print('Hello, World')
    
#  오버로딩 불가


def my_hello(cnt) :
    for i in range(cnt) :
        print('Hello, Python')
        print('Hello, World')

In [6]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [7]:
my_hello

In [8]:
__name__

'__main__'

In [9]:
if __name__ == '__main__' :
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [13]:
import ch05  # ch05 모듈을 load

In [14]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [16]:
my_hello(3)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring

In [28]:
def my_function() :
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능 (shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [20]:
def fibonacci(n) :
    a, b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a + b
    print()  # 개행

In [23]:
fibonacci(100000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025

In [27]:
a, b

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [31]:
global_var = 100  # 전역변수

def func1() :
    print('함수 안 :', global_var)

func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [32]:
def func2() :
    local_var = 200  # 지역변수
    print('함수 안 :', local_var)

func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [35]:
g_var = 100  # 전역변수

def func3() :
    g_var = 200  # 지역변수
    print('함수 안 (지역변수 g_var) :', g_var)

func3()
print('함수 밖 (전역변수 g_var) :', g_var)

함수 안 (지역변수 g_var) : 200
함수 밖 (전역변수 g_var) : 100

In [37]:
g_var = 100  # 전역변수

def func4() :
    print('함수 안 g_var :', g_var)
    g_var = 200  # 지역변수
    
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [38]:
# 렉시컬 특성

g_var = 100  # 전역변수

def func4() :
    global g_var  # func4 함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200  # 지역변수
    
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

## 1.4 값의 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [39]:
foo = 'a'
id(foo)

2613553358640

In [51]:
def func1(f) :  # 매개변수 f는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f = f * 3
    print('After :', f, 'id(f) :', id(f))

func1(foo)

Before : a id(f) : 2613553358640
After : aaa id(f) : 2613669424496

In [54]:
print(foo, id(foo))

a 2613553358640

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [44]:
L = [1, 2, 3]
id(L)

2613668206976

In [55]:
def func2(f) :  # 매개변수 f는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f.append(4)
    print('After :', f, 'id(f) :', id(f))
    
func2(L)

Before : [1, 2, 3, 4, 4] id(f) : 2613668206976
After : [1, 2, 3, 4, 4, 4] id(f) : 2613668206976

In [56]:
print('L =', L, 'id(L) =', id(L))

L = [1, 2, 3, 4, 4, 4] id(L) = 2613668206976

# 2절. 함수의 실행결과를 반환하는 return

In [62]:
def fibonacci_print(n) :
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n = 10 이면 0 1 1 2 3 5 8 을 출력
    '''
    a, b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a + b
    print()  # 개행
    
def fibonacci_return(n) :
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n = 10 이면 [0 1 1 2 3 5 8] 을 return
    '''
    result = []
    a, b = 0, 1
    while a < n :
        result.append(a)
        a, b = b, a + b
    return result

In [64]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [66]:
y = fibonacci_return(100)
print(y)
print(type(y))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [67]:
def swap(a, b) :
    '''
    매개변수의 순서를 바꿔서 return
    '''
    return b, a

In [71]:
x, y = 5, 10
print(f'함수 실행 전 x = {x}, y = {y}')
x, y = swap(x, y)
print(f'함수 실행 후 x = {x}, y = {y}')

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절 함수의 매개변수 ★

## 3.1 기본값을 갖는 매개변수

In [73]:
def make_url(ip, port = 80) :  # 순서 인수 > 기본값을 갖는 매개변수
    return "https://{}:{}".format(ip, port)

In [77]:
print(make_url('www.naver.com'))
print(make_url('localhost',8090))
print(make_url(port = 8090, ip = 'localhost'))

https://www.naver.com:80
https://localhost:8090
https://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [81]:
# 기본값을 갖는 변수가 스칼라 변수일 때

i = 5

def func2(arg = i) :
    print('arg =', arg)

In [82]:
i = 50
func2()

arg = 5

In [83]:
# 기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은

lst = []

def func3(data, L = lst) :
    'data를 L에 append'
    L.append(data)
    return L

In [88]:
print(func3(10))  # lst가 수정 : [10]
lst

[10, 20, 10]

[10, 20, 10]

In [89]:
print(func3(20))
lst

[10, 20, 10, 20]

[10, 20, 10, 20]

In [90]:
def func4(data, L = None) :
    if L == None :
        L = []
    L.append(data)
    return L

In [91]:
print(func4(10))
print(func4(10, lst))

[10]
[10, 20, 10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [93]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다

def add(a, b) :
    return a + b

def add(a, b, c) :
    return a + b + c

In [94]:
add(1, 2)

TypeError: add() missing 1 required positional argument: 'c'

In [101]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음

def add(*args) :
    '전달받은 매개변수들의 합을 return'
    result_tot = 0  # 누적변수
    for data in args :
        result_tot += data
    return result_tot

In [102]:
print(add(1))
print(add(1, 2))
print(add(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

1
3
55

In [105]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [106]:
def concat(*subject, sep) :
    return sep.join(subject)

In [107]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [109]:
# 해결책 1 : 매개변수 이름을 지정해서 호출

concat('Python', 'Oracle', 'DL', 'ML', sep = ' / ')

'Python / Oracle / DL / ML'

In [125]:
# 해결책 2 : 기본값을 반드시 갖는 키워드인수 사용

def concat(*subject, sep = ' ~ ') :
    return sep.join(subject)

In [111]:
concat('Python', 'Oracle', 'DL', 'ML', sep = ' / ')

'Python / Oracle / DL / ML'

In [112]:
print('Python', 'Oracle', 'DL', 'ML', sep = ' / ')

Python / Oracle / DL / ML

In [126]:
# 해결책 3 : sep을 순서인수로 앞에 선언

def concat(sep, *subject) :
    return sep.join(subject)

In [127]:
concat(' / ', 'Python', 'Oracle', 'DL', 'ML')

'Python / Oracle / DL / ML'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [135]:
def func5(**kwargs) :
    print(kwargs)
    print(type(kwargs))
    print('이름 :', kwargs.get('name', '대마왕'))
    print('나이 :', kwargs.get('age', 30))
    print('주소 :', kwargs.get('address', '서울'))

In [136]:
func5(name = '홍길동', age = 30, address = '신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [137]:
func5(name = '김길동')

{'name': '김길동'}
<class 'dict'>
이름 : 김길동
나이 : 30
주소 : 서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수 이름 반드시 명시) > 딕셔너리매개변수(**)

In [138]:
def func6(a, b, *c, **d) :
    print('순서인수 a :', a)
    print('순서인수 a :', b)
    print('튜플인수 c :', c)
    print('딕셔너리인수 d :', d)

In [139]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name = '홍길동', age = 30, address = '신림동')

순서인수 a : 10
순서인수 a : 20
튜플인수 a : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리인수 a : {'name': '홍길동', 'age': 30, 'address': '신림동'}

In [140]:
def func7(a, b, *c, d = '기본값', **e) :
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [141]:
func7(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, d = '딴거', name = '홍길동', age = 30, address = '신림동')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'name': '홍길동', 'age': 30, 'address': '신림동'}

In [143]:
# 키워드 인수를 안 썼을 경우

func7(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name = '홍길동', age = 30, address = '신림동')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'name': '홍길동', 'age': 30, 'address': '신림동'}

## 3.6 인수의 언패킹

### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임 (튜플매개변수)

In [147]:
def add(*args) :
    print(args)
    tot = 0
    for num in args :
        tot += num
    return tot

In [148]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [150]:
numbers = [1, 2, 3, 4]
add(*numbers)  # 언패킹

(1, 2, 3, 4)

10

In [152]:
numbers = (1, 2, 3, 4)
add(*numbers)  # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임

In [163]:
def func5(**data) :
    print(type(data))
    for key, item in data.items() :
        print(f'{key} : {item}')

In [164]:
func5( name = '홍길동', age = 30, address = '신림')

<class 'dict'>
name : 홍길동
age : 30
address : 신림

In [165]:
customInfo = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 강남구', 'score' : 900}
func5(**customInfo)

<class 'dict'>
name : 홍길동
age : 30
address : 서울시 강남구
score : 900

# 4절. 람다식
- return 한줄짜리 작은 익명함수

## 4.1 람다식 연습

In [166]:
def add(a, b) :
    return a + b
add(3, 4)

7

In [167]:
add2 = lambda a, b : a + b
add2(3, 4)

7

In [168]:
type(add), type(add2)

(function, function)

In [169]:
(lambda a, b : a + b)(3, 4)

7

In [177]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return

def ex1_(num) :
    if num % 2 == 0 :
        result = '홀수'
    else : 
        result = '짝수'
    return '홀수' if num % 2 else '짝수'

ex1 = lambda num : '홀수' if num % 2 else '짝수'

ex1(10), ex1(-9)

('짝수', '홀수')

In [186]:
# ex2. 두 매개변수의 차이를 return

def diff(a, b) :
    if a > b :
        result = a - b
    else :
        result = b - a
    return result

ex2 = lambda num1, num2 : num1 - num2 if num1 >= num2 else num2 - num1

ex2(10, 8), ex2(9, 13)

(2, 4)

In [187]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return

ex3 = lambda money : money if money > 0 else 'negative'

ex3(1000), ex3(-5000)

(1000, 'negative')

In [195]:
# ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험, 그외는 유효하지 않음

ex4 = lambda score : 'A팀' if 80 <= score <= 100 else \
                     'B팀' if 60 <= score < 80 else \
                     '재시험' if 0 <= score < 60 else \
                     '유효하지 않음'                           # \뒤에 스페이스 하나라도 있으면 에러

ex4(99), ex4(60), ex4(50), ex4(120)

('A팀', 'B팀', '재시험', '유효하지 않음')

In [197]:
# ex5. safe_index를 람다식으로

def safe_index(vector, data):
    if data in vector: # lst안에 data 있는지 여부
        return vector.index(data)
    else:
        return -1
    
ex5 = lambda vector, data : vector.index(data) if data in vector else -1

ex5([1, 2, 3, 4, 5], 3), ex5([1, 2, 3, 4, 5], 9)

(2, -1)

## 4.2 함수의 매개변수에 람다식 이용

### (1) map

In [4]:
def map_template(func, L) :
    '''
    L의 모든 요소를 func()함수를 적용시켜 return
    [2, 4, 6]
    '''
    result = []
    for l in L :
        result.append(func(l))
#     result = [func(l) for l in L]
    return result

In [5]:
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def x_2(x) :
    return x * 2

map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
# 리스트 데이터를 가공 방법 1. map_template

map_template(lambda x : x * 2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션

[l * 2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
# 리스트 데이터를 가공 방법 3. map() : 파이썬 내장함수

list(map(lambda x : x * 2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
for item in map(lambda x : x * 2, list_data) :
    print(item, end = ' ')

2 4 6 8 10 12 14 16 18 20

In [16]:
'''
ex1. [5000, 800, 1000, 6000]으로 바꾸시오
'''

prices = ['5,000', '800', '1,000', '6,000']

list(map(lambda price : price.replace(',', ''), prices))

['5000', '800', '1000', '6000']

In [32]:
'''
ex2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'},]를
    member2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},
                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다
'''
# '2000-01-01' => {'year':1998, 'month':12, 'day':31}
def split_data(data) :
    split_data = data.split('-')
    return {'year' : int(split_data[0]),
            'month' : int(split_data[1]),
            'day' : int(split_data[2])}

def member_func(member) :
    "{'name':'홍길동', 'year':2000, 'month':1, 'day':1}"
    return {
        'name' : member.get('name'),
        'year' : int(member['birth'].split('-')[0]),
        'month' : int(member['birth'].split('-')[1]),
        'day' : int(member['birth'].split('-')[2])
    }

In [33]:
member1 = [{'name':'홍길동', 'birth':'2000-01-01'},
                {'name':'신길동', 'birth':'1998-12-31'},]
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [25]:
member2 = list(map(lambda member : {
                                    'name' : member.get('name'),
                                    'year' : int(member['birth'].split('-')[0]),
                                    'month' : int(member['birth'].split('-')[1]),
                                    'day' : int(member['birth'].split('-')[2])
                                    },
                  member1
                  )
              )
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [36]:
'ex3. member2를 member1로 바꿉니다'

def join_data(data) :
    year = str(data.get('year'))
    month = data.get('month')
    if month < 10 :
        month = '0' + str(month)
    else : 
        month = str(month)
    day = data.get('day')
    if day < 10 :
        day = '0' + str(day)
    else : 
        day = str(day)
    return '-'.join([year, month, day])

In [39]:
def join_date(data) :
    return ("{}-{:02}-{:02}".format(data.get('year'),
                                    data.get('month'),
                                    data.get('day')))

In [40]:
def join_date(data) :
    return("{year}-{month:02}-{day:02}".format(
                                    year = data.get('year'),
                                    month = data.get('month'),
                                    day = data.get('day')))

In [41]:
# 'name':'홍길동', 'year':2000, 'month':1, 'day':1 를
# 'name':'홍길동', 'birth':'2000-01-01' 로 가공

list(map(lambda member : {
                        'name' : member.get('name'),
                        'birth' : '{year}-{month:02}-{day:02}'.format(**member)
                        },
         member2
))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map : [1, 2, 3, 4, 5] => [2, 4, 6, 8, 10] (벡터의 모든 데이터를 가공)
- filter : [1, 2, 3, 4, 5] => [2, 4] 

- cf. 리스트 컴프리헨션

In [48]:
def filter_template(func, L = []) :
    result = []
    for l in L :
        if func(l) :
            result.append(l)
    return result

In [49]:
def evenChk(value) :
    return value % 2 == 0
evenChk(10), evenChk(-9)

(True, False)

In [50]:
list_data = [1, 2, 3, 4, 5]
filter_template(lambda value : value % 2 == 0, list_data)

[2, 4]

In [44]:
list(filter(lambda value : value % 2 == 0, list_data))

[2, 4]

In [45]:
[data for data in list_data if data % 2 == 0]

[2, 4]

### (3) sort

In [51]:
# 무조건 0번째 item 기준으로 정렬

pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [52]:
# 1번째 item 기준으로 정렬 (abc순)

pairs.sort(key = lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [53]:
# 무조건 0번째 item 기준으로 정렬

number2d = [[9, 9, 9, 9, 9, 9],
            [1, 100],
            [10, 1]]

number2d.sort(reverse = True)  # 기본(reverse = False) : 오름차순정렬 / reverse = True : 내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [58]:
# 리스트를 매개변수로 받아 합을 return

(lambda item : sum(item))([1, 2, 3])

6

In [57]:
# 합이 큰 순으로 정렬

number2d.sort(key = lambda item : sum(item), reverse = True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [64]:
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':50},
    {'name':'윤길동', 'score':99},
    {'score':100}
]

In [65]:
# 이름순으로 정렬 (ㄱㄴㄷ순)

students.sort(key = lambda member : member.get('name', '힣'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [69]:
# score순으로 정렬 (내림차순정렬)

students.sort(key = lambda score : score.get('score', 0), reverse = True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [93]:
# 책제목순 정렬 (ㄱㄴㄷ순), 저자순 (ㄱㄴㄷ순), 가격순 (오름차순정렬)

books = [
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,000'},
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,000'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,200'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writer':'김길동'}
]

In [102]:
copy_books = books.copy()

In [94]:
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,000'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,000'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,200'}]

In [95]:
books.sort(key = lambda book : book.get('writer'))
books

[{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,000'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,200'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,000'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}]

In [96]:
# '14,000' => 14000 / '2000' => 2000 / 800 => 800 / '-' => 0

def parse_int(price) :
#     print(type(price))
    if isinstance(price, str) and price.replace(',', '').isdigit() :
        return int(price.replace(',', ''))
    elif isinstance(price, int) :
        return price
    else :
        return 0

In [97]:
parse_int('8,000'), parse_int('8000'), parse_int(8000), parse_int('-')

(8000, 8000, 8000, 0)

In [99]:
# {'no':6, 'title':'가격이없음', 'writer':'김길동'}
# {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,200'}
# {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900}

def parse_int(book) :
    if isinstance(book.get('price'), str) and book.get('price').replace(',', '').isdigit() :
        return int(book.get('price').replace(',', ''))
    elif isinstance(book.get('price'), int) :
        return book.get('price')
    else :
        return 0

parse_int(books[0]), parse_int(books[3]), parse_int(books[2]), parse_int(books[5])

(0, 900, 14200, 0)

In [103]:
copy_books.sort(key = lambda book : 
                int(book.get('price').replace(',', '')) \
                   if isinstance(book.get('price'), str) and \
                    book.get('price').replace(',', '').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
               0               
               )

In [104]:
copy_books

[{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,000'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,000'}]

## 4.3 return문에 람다식 이용

In [107]:
# 함수를 return

def make_box(shape) :  # shape : [l] => Len가 l인 list를 생성하는 함수 return
                       #         [r, c] => r행 c열인 2차원 list를 생성하는 함수 return
                       #         [d, r, c] => d면 r행 c열인 3차원 list를 생성하는 함수 return
    def box(init_value) :
        if len(shape) == 1 :
            return [init_value] * shape[0]
        elif len(shape) == 2 :
            return [[init_value] * shape[1]] * shape[0]
    return box

In [119]:
def make_box(shape) :
    if len(shape) == 1 :
        return lambda init_value : [init_value] * shape[0]
    elif len(shape) == 2 :
        return lambda init_value : [[init_value] * shape[1]] * shape[0]

In [108]:
line_func = make_box([2, 3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [109]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [118]:
globals()  # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'ex3. member2를 member1로 바꿉니다',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'from IPython.display import display, HTML\ndisplay(HTML("""<style>\ndiv.container{width:86% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.CodeMirror {font-family:Consolas; font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{fontsize:12pt;padding:5px;}\ntable.dataframe{font-size:12px;}))\n</style>\n"""))',
  "def map_template(func, L) :\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    [2, 4, 6]\n    '''\n    result = []\n    for l in L :\n        result.append(func(L))\n#     result = [func(l) for l in L]\n    return result",
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\n\ndef x_2(x) :\n    return x*2\n\nmap_template(x_2, list_data)',
  "def map_template(func, L) :\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    [2, 4, 6]\n    '''\n    result = []\n    for l in L :\n        result.append(func(l))\n#     result = [func(l) for l in L]\n    return result",
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\n\ndef x_2(x) :\n    return x*2\n\nmap_template(x_2, list_data)',
  'map_template(lambda x : x * 2, list_data)',
  '# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션\n\n[l * 2 for l in list_data]',
  "'''\nex1. [5000, 800, 1000, 6000]으로 바꾸시오\n'''\n\nprices = ['5,000', '800', '1,000', '6,000']",
  '# 리스트 데이터를 가공 방법 3. map() : 파이썬 내장함수\n\nlist(map(lambda x : x * 2, list_data))',
  "for item in map(lambda x : x * 2, list_data) :\n    print(item, end = ' ')",
  "'''\nex1. [5000, 800, 1000, 6000]으로 바꾸시오\n'''\n\nprices = ['5,000', '800', '1,000', '6,000']",
  "map(lambda prices : prices.replace(',', ''))",
  "map(lambda price : price.replace(',', ''), prices)",
  "list(map(lambda price : price.replace(',', ''), prices))",
  "'''\nex2. member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]를\n    member2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                {'name':'신길동', 'year':1998, 'month':12, 'day':31},]를 바꿉니다\n'''",
  "'''\nex1. [5000, 800, 1000, 6000]으로 바꾸시오\n'''\n\nprices = ['5,000', '800', '1,000', '6,000']\n\nlist(map(lambda price : price.replace(',', ''), prices))",
  "member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]\nmember_func(member1[0])",
  '\'\'\'\nex2. member1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'},\n                {\'name\':\'신길동\', \'birth\':\'1998-12-31\'},]를\n    member2 =  [{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1},\n                {\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31},]를 바꿉니다\n\'\'\'\n\ndef split_data(data) :\n    split_data = data.split(\'-\')\n    return {\'year\' : int(split_data[0]),\n            \'month\' : int(split_data[1]),\n            \'day\' : int(split_data[2])}\n\ndef member_func(member) :\n    "{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2])\n    }',
  "member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]\nmember_func(member1[0])",
  "member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]\nmember2 =  [{'name':'홍길동', 'year':2000, 'month':1, 'day':1},\n                {'name':'신길동', 'year':1998, 'month':12, 'day':31}]\n\nmember_func(member1[0]), member_func(member2[0])",
  "member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]\nmember_func(member1[0])",
  "member2 = list(map(lambda member : {\n                                    'name':member.get('name'),\n                                    'year':int(member['birth'].split('-')[0]),\n                                    'month':int(member['birth'].split('-')[1]),\n                                    'day':int(member['birth'].split('-')[2])\n                                    },\n                  member1\n                  )\n              )\nmember2",
  "member2 = list(map(lambda member : {'name':member.get('name'),\n                                    'year':int(member['birth'].split('-')[0]),\n                                    'month':int(member['birth'].split('-')[1]),\n                                    'day':int(member['birth'].split('-')[2])\n                                    },\n                  member1\n                  )\n              )\nmember2",
  "member2 = list(map(lambda member : {\n                                    'name':member.get('name'),\n                                    'year':int(member['birth'].split('-')[0]),\n                                    'month':int(member['birth'].split('-')[1]),\n                                    'day':int(member['birth'].split('-')[2])\n                                    },\n                  member1\n                  )\n              )\nmember2",
  "member2 = list(map(lambda member : {\n                                    'name' : member.get('name'),\n                                    'year' : int(member['birth'].split('-')[0]),\n                                    'month' : int(member['birth'].split('-')[1]),\n                                    'day' : int(member['birth'].split('-')[2])\n                                    },\n                  member1\n                  )\n              )\nmember2",
  '\'\'\'\nex2. member1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'},\n                {\'name\':\'신길동\', \'birth\':\'1998-12-31\'},]를\n    member2 =  [{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1},\n                {\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31},]를 바꿉니다\n\'\'\'\n# \'2000-01-01\' => {\'year\':1998, \'month\':12, \'day\':31}\ndef split_data(data) :\n    split_data = data.split(\'-\')\n    return {\'year\' : int(split_data[0]),\n            \'month\' : int(split_data[1]),\n            \'day\' : int(split_data[2])}\n\ndef member_func(member) :\n    "{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}"\n    return {\n        \'name\' : member.get(\'name\'),\n        \'year\' : int(member[\'birth\'].split(\'-\')[0]),\n        \'month\' : int(member[\'birth\'].split(\'-\')[1]),\n        \'day\' : int(member[\'birth\'].split(\'-\')[2])\n    }',
  "member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]\nmember_func(member1[0])",
  '\'\'\'\nex2. member1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'},\n                {\'name\':\'신길동\', \'birth\':\'1998-12-31\'},]를\n    member2 =  [{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1},\n                {\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31},]를 바꿉니다\n\'\'\'\n# \'2000-01-01\' => {\'year\':1998, \'month\':12, \'day\':31}\ndef split_data(data) :\n    split_data = data.split(\'-\')\n    return {\'year\' : int(split_data[0]),\n            \'month\' : int(split_data[1]),\n            \'day\' : int(split_data[2])}\n\ndef member_func(member) :\n    "{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2])\n    }',
  "member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]\nmember_func(member1[0])",
  '\'\'\'\nex2. member1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'},\n                {\'name\':\'신길동\', \'birth\':\'1998-12-31\'},]를\n    member2 =  [{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1},\n                {\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31},]를 바꿉니다\n\'\'\'\n# \'2000-01-01\' => {\'year\':1998, \'month\':12, \'day\':31}\ndef split_data(data) :\n    split_data = data.split(\'-\')\n    return {\'year\':int(split_data[0]),\n            \'month\':int(split_data[1]),\n            \'day\':int(split_data[2])}\n\ndef member_func(member) :\n    "{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2])\n    }',
  "member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]\nmember_func(member1[0])",
  '\'\'\'\nex2. member1 = [{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'},\n                {\'name\':\'신길동\', \'birth\':\'1998-12-31\'},]를\n    member2 =  [{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1},\n                {\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31},]를 바꿉니다\n\'\'\'\n# \'2000-01-01\' => {\'year\':1998, \'month\':12, \'day\':31}\ndef split_data(data) :\n    split_data = data.split(\'-\')\n    return {\'year\' : int(split_data[0]),\n            \'month\' : int(split_data[1]),\n            \'day\' : int(split_data[2])}\n\ndef member_func(member) :\n    "{\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}"\n    return {\n        \'name\' : member.get(\'name\'),\n        \'year\' : int(member[\'birth\'].split(\'-\')[0]),\n        \'month\' : int(member[\'birth\'].split(\'-\')[1]),\n        \'day\' : int(member[\'birth\'].split(\'-\')[2])\n    }',
  "member1 = [{'name':'홍길동', 'birth':'2000-01-01'},\n                {'name':'신길동', 'birth':'1998-12-31'},]\nmember_func(member1[0])",
  '\'ex3. member2를 member1로 바꿉니다\'\n\ndef member2_func(member) :\n    "{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}"\n    return {\n        \'name\' : member.get(\'name\'),\n        \'birth\' : member.join(\'year\', \'month\', \'day\')\n    }',
  '\'ex3. member2를 member1로 바꿉니다\'\n\ndef member2_func(member) :\n    "{\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}"\n    print ({\n        \'name\' : member.get(\'name\'),\n        \'birth\' : member.join(\'year\', \'month\', \'day\')\n    })',
  "'ex3. member2를 member1로 바꿉니다'\n\ndef join_data(data) :\n    year = str(data.get('year'))\n    month = data.get('month')\n    if month < 10 :\n        month = '0' + str(month)\n    else : \n        month = str(month)\n    day = data.get('day')\n    if day < 10 :\n        day = '0' + str(day)\n    else : \n        day = str(day)\n    return '-'.join([year, month, day])",
  'def join_date(data) :\n    print("{}-{}-{}".format(data.get(\'year\'),\n                            data.get(\'month\'),\n                            data.get(\'day\')))',
  'def join_date(data) :\n    print("{}-{:02}-{:02}".format(data.get(\'year\'),\n                            data.get(\'month\'),\n                            data.get(\'day\')))',
  'def join_date(data) :\n    return ("{}-{:02}-{:02}".format(data.get(\'year\'),\n                                    data.get(\'month\'),\n                                    data.get(\'day\')))',
  'def join_date(data) :\n    return("{year}-{month:02}-{day:02}".format(\n                                    year = data.get(\'year\'),\n                                    month = data.get(\'month\'),\n                                    day = data.get(\'day\')))',
  "list(map(lambda member : {\n                        'name' : member.get('name'),\n                        'birth' : '{year}-{month:02}-{day:02}'.format(**member)\n                        },\n         member2\n))",
  'def filter_template(func, L = []) :\n    result = []\n    for l in L :\n        if func(l) :\n            result.append(L)',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value % 2 == 0, list_data)',
  'list(filter(lambda value : value % 2 == 0, list_data))',
  '[data for data in list_data if data % 2 == 0]',
  'p = [9, 2, 7]\np.sort(reverse = True)\np',
  'number2d = [[9, 9],\n            [1, 100],\n            [10, 1]]\n\nnumber2d.sort(reverse = True)\nnumber2d',
  'def filter_template(func, L = []) :\n    result = []\n    for l in L :\n        if func(l) :\n            result.append(l)\n    return result',
  'def evenChk(value) :\n    return value % 2 == 0\nevenChk(10), evenChk(-9)',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value % 2 == 0, list_data)',
  "# 무조건 0번째 item 기준으로 정렬\n\npairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]\npairs.sort()\npairs",
  '# 1번째 item 기준으로 정렬 (abc순)\n\npairs.sort(key = lambda pair : pair[1])\npairs',
  '# 무조건 0번째 item 기준으로 정렬\n\nnumber2d = [[9, 9, 9, 9, 9, 9],\n            [1, 100],\n            [10, 1]]\n\nnumber2d.sort(reverse = True)  # 기본(reverse = False) : 오름차순정렬 / reverse = True : 내림차순정렬\nnumber2d',
  '# 합이 큰 순으로 정렬\n\nnumber2d.sort(key = lambda item : sum(item))',
  '# 합이 큰 순으로 정렬\n\nnumber2d.sort(key = lambda item : sum(item))\nnumber2d',
  '# 합이 큰 순으로 정렬\n\nnumber2d.sort(key = lambda item : sum(item), reserve = True)\nnumber2d',
  '# 합이 큰 순으로 정렬\n\nnumber2d.sort(key = lambda item : sum(item), reverse = True)\nnumber2d',
  '# 리스트를 매개변수로 받아 합을 return\n(lambda item : sum(item))([1, 2, 3])',
  "students = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99}\n]",
  '# 이름순으로 정렬 (ㄱㄴㄷ순)',
  "# 이름순으로 정렬 (ㄱㄴㄷ순)\n\nstudents.sort(key = lambda member : {\n                                    'name' : member.get\n})",
  "# 이름순으로 정렬 (ㄱㄴㄷ순)\n\n\n\nstudents.sort(key = lambda name : {\n                        'name' : name.get('name')\n})",
  "# 이름순으로 정렬 (ㄱㄴㄷ순)\n\n\n\nstudents.sort(key = lambda name : {\n                        'name' : name.get('name')\n                        },\n              students\n             )",
  "students = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n    {'score':100}\n]",
  "# 이름순으로 정렬 (ㄱㄴㄷ순)\n\nstudents.sort(key = lambda member : member.get('name', '힣'))\nstudents",
  "# score순으로 정렬 (내림차순정렬)\n\nstudents.sort(key = lambda score : score.get('score'), reverse)",
  "# score순으로 정렬 (내림차순정렬)\n\nstudents.sort(key = lambda score : score.get('score'), reverse = True)",
  "# score순으로 정렬 (내림차순정렬)\n\nstudents.sort(key = lambda score : score.get('score'), reverse = True)\nstudents",
  "# score순으로 정렬 (내림차순정렬)\n\nstudents.sort(key = lambda score : score.get('score', 0), reverse = True)\nstudents",
  "# 책제목순 정렬 (ㄱㄴㄷ순), 저자순 (ㄱㄴㄷ순), 가격순 (오름차순정렬)\n\nbook = [\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,000'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,000'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,200'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'}\n]",
  "book.sort(key = lambda book : book.get('title'))",
  "book.sort(key = lambda book : book.get('title'))\nbook",
  "book.sort(key = lambda book : book.get('writer'))\nbook",
  "# '14,000' => 14000 / 900 => 900 / '-' => 0\n\ndef parse_int(price) :\n    print(type(price))",
  "parse_int('800')",
  "# '14,000' => 14000 / '2000' => 2000 / 800 => 800 / '-' => 0\n\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) & price.replace(',', '').isdigit() :\n        return int(price.replace(',', ''))\n    elif isinstance(price, int) :\n        return price",
  'parse_int(8000)',
  "# '14,000' => 14000 / '2000' => 2000 / 800 => 800 / '-' => 0\n\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) & price.replace(',', '').isdigit() :\n        return int(price.replace(',', ''))\n    elif isinstance(price, int) :\n        return price",
  'parse_int(8000)',
  "# '14,000' => 14000 / '2000' => 2000 / 800 => 800 / '-' => 0\n\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) and price.replace(',', '').isdigit() :\n        return int(price.replace(',', ''))\n    elif isinstance(price, int) :\n        return price",
  'parse_int(8000)',
  "# '14,000' => 14000 / '2000' => 2000 / 800 => 800 / '-' => 0\n\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) & price.replace(',', '').isdigit() :\n        return int(price.replace(',', ''))\n    elif isinstance(price, int) :\n        return price",
  'parse_int(8000)',
  "# '14,000' => 14000 / '2000' => 2000 / 800 => 800 / '-' => 0\n\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) & price.replace(',', '').isdigit() :\n        return int(price.replace(',', ''))\n    elif isinstance(price, int) :\n        return price\n    else :\n        return 0",
  'parse_int(8000)',
  "# '14,000' => 14000 / '2000' => 2000 / 800 => 800 / '-' => 0\n\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) & (price.replace(',', '').isdigit()) :\n        return int(price.replace(',', ''))\n    elif isinstance(price, int) :\n        return price\n    else :\n        return 0",
  'parse_int(8000)',
  "# '14,000' => 14000 / '2000' => 2000 / 800 => 800 / '-' => 0\n\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) and price.replace(',', '').isdigit() :\n        return int(price.replace(',', ''))\n    elif isinstance(price, int) :\n        return price\n    else :\n        return 0",
  'parse_int(8000)',
  "parse_int('8,000'), parse_int('8000'), parse_int(8000), parse_int('-')",
  "# {'no':6, 'title':'가격이없음', 'writer':'김길동'}\n# {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,200'}\n# {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900}\n\ndef parse_int(book) :\n    if isinstance(book.get('price'), str) and book.get('price').replace(',', '').isdigit() :\n        return int(book.get('price').replace(',', ''))\n    elif isinstance(book.get('price'), int) :\n        return book.get('price')\n    else :\n        return 0",
  "# {'no':6, 'title':'가격이없음', 'writer':'김길동'}\n# {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,200'}\n# {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900}\n\ndef parse_int(book) :\n    if isinstance(book.get('price'), str) and book.get('price').replace(',', '').isdigit() :\n        return int(book.get('price').replace(',', ''))\n    elif isinstance(book.get('price'), int) :\n        return book.get('price')\n    else :\n        return 0\n\nparse_int(books[0])",
  "# 책제목순 정렬 (ㄱㄴㄷ순), 저자순 (ㄱㄴㄷ순), 가격순 (오름차순정렬)\n\nbooks = [\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,000'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,000'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,200'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'}\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",
  "# '14,000' => 14000 / '2000' => 2000 / 800 => 800 / '-' => 0\n\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) and price.replace(',', '').isdigit() :\n        return int(price.replace(',', ''))\n    elif isinstance(price, int) :\n        return price\n    else :\n        return 0",
  "parse_int('8,000'), parse_int('8000'), parse_int(8000), parse_int('-')",

In [112]:
all([True, True, True, False])  # 전부 True인지 여부

False

In [114]:
round(3.5)  # 반올림

4

In [115]:
import numpy as np  # numpy 모듈을 np라는 이름으로 load

np.round(3.5), np.ceil(3.1), np.floor(3.8)  # 반올림, 올림, 내림

(4.0, 4.0, 3.0)

# 6절 연습문제

## 연습문제 실습형

In [121]:
# ex1. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요

def get_max_min(data_list) :
    return max(data_list), min(data_list)

get_max_min = lambda data_list : (max(data_list), min(data_list))
get_max_min([1, 2, 3, 4, 5, 6])

(6, 1)

In [129]:
# ex2. 
'''
체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다 
함수의 인자로 체중(kg)과 신장(m)를 입력받은 후 BMI값에 따라
‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요
'''

def getBMI(kg, m) :
    BMI = kg / m ** 2
    if 0 <= BMI < 18.5 :
        print('마른체형')
    elif 18.5 <= BMI < 25 :
        print('표준')
    elif 25 <= BMI < 30 :
        print('비만')
    else :
        print('고도비만')

getBMI(90, 1.7)

고도비만

In [134]:
# ex3. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요

import math

def get_triangle(width, height) :
    area = width * height / 2
    perimeter = math.sqrt(width ** 2 + height ** 2) + width + height
    return area, perimeter

get_triangle(5, 12)

(30.0, 30.0)

In [135]:
# ex.4 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요 (시작값과 끝값 포함)

def mysum(fRom, end) :
    sum = 0
    for i in range(fRom, end + 1) :
        sum += i
    return sum

mysum(5, 10)

45

In [185]:
# ex5. 함수의 인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
#      예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
def get_abbrs(lst) :
    lst_slicing = []
    for i in range(len(lst)) :
        lst_slicing.append(lst[i][:3])
    return lst_slicing

print(get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju']))

lst_slicing = lambda lst : [i[:3] for i in lst]

print(lst_slicing(['Seoul', 'Daegu', 'Kwangju', 'Jeju']))

['Seo', 'Dae', 'Kwa', 'Jej']
['Seo', 'Dae', 'Kwa', 'Jej']

In [139]:
# ex6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오

def f(x, y) :
    return x ** y

f = lambda x, y : x ** y
f(2, 3), f(10, 4)

(8, 10000)

In [146]:
# ex7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오

ex = [1, 2, 3, 4, 5]

# 람다함수와 map()함수를 사용
print(list(map(lambda x : x * 2, ex)))
# 리스트 컴프리헨션
print([x * 2 for x in ex])

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [150]:
# ex8. 다음 코드를 각각 실행하면 서로 다른 결과가 나온다 이런 결과가 나오는 이유를 서술하시오

a = [1, 2, 3]
print(*a)

print(a)

print('a라는 리스트 앞에 *를 붙임으로써 a리스트를 언패킹하기 때문입니다')

1 2 3
[1, 2, 3]
a라는 리스트 앞에 *를 붙임으로써 a리스트를 언패킹하기 때문입니다

In [151]:
# ex9. 다음 코드의 실행 결과는?

date_info = {'year':2024, 'month':9, 'day':6}
result = '{year}-{month}-{day}'.format(**date_info)
result

'2024-9-6'

In [179]:
# ex10. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는
#       vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오

def vector_size(*vector_var) :
    result = []
    for vector in vector_var :
        result.append(len(vector))
    return result

def vector_size(*vector_var) :
    return [len(vector) for vector in vector_var]

def vector_size_check(*vector_var) :
    result = []
    for vector in vector_var :
        if len(vector) not in result :
            result.append(len(vector))
    return len(result) == 1

def vector_size_check(*vector_var):
    result = set()
    for vector in vector_var :
        result.append(len(vector))
    return len(result) == 1

def vector_size_check(*vector_var) :
    return len(set([len(vector) for vector in vector_var])) == 1

In [181]:
vector_size_check([10, 20], (100, 200), {'name':'홍', 'age':20}, {1, 2, 3})

False

In [186]:
# ex11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오
#       (단 입력되는 벡터의 크기는 일정하지 않음)

def scalar_vector_product(num, vector):
    return [num*vec for vec in vector]

scalar_vector_product(5, [1,2,3,4])

[5, 10, 15, 20]