In [1]:
from IPython.display import display, HTML
display(HTML("""<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{fontsize:12pt;padding:5px;}
table.dataframe{font-size:12px;}))
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 1절. 변수
- 파이썬은 변수선언을 위한 과정이 없음 (변수지정과 동시에 타입이 지정되고 값이 할당됨)

## 1.1 변수할당
- 할당연산자(=)를 이용해서 갑을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체로 저장

In [8]:
r = 5
area = 3.14 * r * r
print("계산된 넓이 =", area)

계산된 넓이 = 78.5

In [12]:
import numpy as np

area = np.pi * r * r
print("계산된 넓이 =", area)

계산된 넓이 = 78.53981633974483

In [14]:
area.is_integer() # area가 integer인지 여부를 반환

False

In [15]:
print('area의 주소 :', id(area))   # id(area) : area 변수의 주소값
print('area의 타입 :', type(area)) # type(area) : area 변수의 타입값

area의 주소 : 3097652557488
area의 타입 : <class 'float'>

In [16]:
area = 10

print('area의 주소 :', id(area))   # id(area) : area 변수의 주소값
print('area의 타입 :', type(area)) # type(area) : area 변수의 타입값

area의 주소 : 3097569722896
area의 타입 : <class 'int'>

In [17]:
area = "파이썬"

print('area의 주소 :', id(area))   # id(area) : area 변수의 주소값
print('area의 타입 :', type(area)) # type(area) : area 변수의 타입값

area의 주소 : 3097690278960
area의 타입 : <class 'str'>

## 1.2 변수이름 규치
- 문자로 시작 (숫자시작불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다 (써야한다면 int_식으로 _를 이용)
- 파이썬 예약어(for, while, ...)는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용
- 대문자로 시작하는 변수이름 매우 비추 (Class의 이름을 대부분 대문자로 시작)

In [26]:
이름 = "홍길동" # 비추
print(이름)

홍길동

In [27]:
이름

'홍길동'

In [28]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [20]:
# member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [22]:
Print = 10 # 대문자로 시작하는 변수이름 강력하게 비추
print(Print)

10

In [23]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수

i = 3 + 3j # 복소수
type(i)

complex

In [25]:
isinstance(i, complex)   # i변수(객체)가 complex인지 여부

True

## 1.3 도움말
- help의 사용법 2가지
- 도움말 핫키 : shift+tab키 tab키

In [29]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [31]:
help()
# help를 빠져나오려면 q입력
# Esc+o : 결과 접기/펴기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> print
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [32]:
# 도움말 기능 : shift+tab키 tab키
print()

In [36]:
def add_ex(x, y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만듭니다
    x = 10의 자리수가 됨
    y = 1의 자리수가 됨
    사용법 : add_ex(2, 3) => 23
    '''
    return x * 10 + y

In [37]:
print(add_ex(2, 1), add_ex(3,))

21 30

In [38]:
a = add_ex
a(2, 3)

23

## 1.4 다중 변수 할당

In [51]:
a = 10
b = 20

In [39]:
a, b = 10, 20
print(a, b)

10 20

In [40]:
# 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
a, b = b, a+b
print(a, b)

20 30

# 2절. 화면입출력(i/o)

In [43]:
# input() : 사용자로부터 값을 입력받기 위한 함수 (문자열로 입력)

first = input("첫번째 숫자는? ")
first

첫번째 숫자는? 8

'8'

In [44]:
second = input("두번째 숫자는? ")

두번째 숫자는? 2

In [45]:
sum = int(first) + int(second)
print("합:", sum)

합: 10

In [48]:
first = int(input("첫번째 숫자는? "))
second = int(input("두번째 숫자는? "))
sum = first + second
print("합 :", sum)

첫번째 숫자는? 27
두번째 숫자는? 73
합 : 100

In [55]:
print("합", sum, sep = ' = ', end = ', ')
print("합", sum, sep = ' : ', end = ', ')
print("합", sum, sep = '은 ')

합 = 100, 합 : 100, 합은 100

In [57]:
import sys

print('Hello', 'World', sep = ", ", file = sys.stdout)

Hello, World

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
        - 숫자 : int, float, complex
        - 문자 : str
        - 논리 : bool(True/False)

## 3.1 숫자형

In [59]:
import sys

sys.maxsize  # 정수의 최대값 2의 63승 - 1 (2**63 - 1)

9223372036854775807

In [61]:
i = sys.maxsize + 10000000000
print(i)
print(type(i))

9223372046854775807
<class 'int'>

In [63]:
f = 4 / 2 # 정수/정수는 무조건 실수
print(f)

2.0

In [71]:
# 자바처럼 정수/정수의 결과를 정수로
f = 4 / 2
print(f)
f = int(4 / 2)
print(f)

2.0
2

In [66]:
c = 1j  # 수학시간의 0 + 1j
print(c)
print(c**2)

1j
(-1+0j)

In [73]:
f = 1.12e12  # 1.12의 10의 12승 1120000000000
print('지수형 표현할당시 실수형으로 저장 :', f)
f = 1.12e-12 # 0.00000000000112
print('지수형 표현할당시 실수형으로 저장 :', f)

지수형 표현할당시 실수형으로 저장 : 1120000000000.0
지수형 표현할당시 실수형으로 저장 : 1.12e-12

## 3.2 문자형
- 쌍따옴표("")나 홑따음표('') 이용

In [80]:
name_1 = "홍길동\"짱\""  # 홍길동"짱"
name_2 = '홍길동\"짱\"'
address_1 = '서울시 관악구 \'신림동\''  # 서울시 관악구 '신길동'
address_2 = "서울시 관악구 \'신림동\'"  
print(name_1, address_1)  # 1과 2 둘 다 같은 결과값을 가지지만
print(name_2, address_2)  # 가독성이 2가 더 좋으므로 1은 비추

홍길동"짱" 서울시 관악구 '신림동'
홍길동"짱" 서울시 관악구 '신림동'

In [82]:
# 문자형 변수 여러 줄

text = '''여러 줄짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많습니다'''

print(text)

여러 줄짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많습니다

### ※ 문자열 연산

In [83]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 아무개
'''

name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"

print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [84]:
print(name1 * 3)  # 문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, directory 경로 표현시 이용

In [90]:
print('Hello\nWorld')

print(r'Hello\nWorld')
print('Hello\\nWorld')  # 1이 2보다 가독성이 좋음

Hello
World
Hello\nWorld
Hello\nWorld

정규표현식
```
(마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 의미: 문자열의 일정한 패턴을 표현하는 일종의 형식 언어
2. 간략한 문법 : 
   \d (숫자와 매치, [0-9]와 동일)
   \D (숫자가 아닌것)
   \w (영문자나 숫자, [a-zA-z0-9])
   \W (영문자나 숫자가 아닌 문자)
   .  (문자)
   \. (. 의미)
   \- (- 의미)
   \s (space 의미)
   {a, b} (a~b번 반복)
   {a}    (a번 반복)
   {a, }  (a번 이상 반복)
   +      (1번 이상 반복)
   *      (0번 이상 반복)
   ?      (0번 또는 1번 반복)
3. 정규표현식 연승장(https://regexr.com/)
   ex1. 전화번호 : 010-9999-9999 02-7777-7777 0108886666 0277775555
                   02)333-4444 010 1234 4321 010.9876.5432
                   "\d{2,3}[\-) .]?[0-9]{3,4}.?\d{4}"
   ex2. 이메일 : abcd11@naver.com / zxcv123@to7.co.kr / qwer123@한국.com
                 "\w+@[a-zA-Z0-9가-힣]+\.\w+[\.\w]*"
4. 소스 구현
```
                                                       ※ 참조 : 위키피아

In [43]:
import re

data = "홍길동인데 전화번호가 031)789-4567이고 \
휴대폰은 010.5544.1234 \
오늘 날씨가 엄청 좋네요 ㅋㅋ ㅠㅠ"
print(data)

홍길동인데 전화번호가 031)789-4567이고 휴대폰은 010.5544.1234 오늘 날씨가 엄청 좋네요 ㅋㅋ ㅠㅠ

In [44]:
data2 = "가나다라마바사아자차카타파하"

In [45]:
tel_pattern = r"\d{2,3}[\-) .]?[0-9]{3,4}.?\d{4}"
email_pattern = r"\w+@[a-zA-Z0-9가-힣]+\.\w+[\.\w]*"

In [46]:
# re.findall()은 해당 패턴을 전부 찾아줌, 해당 패턴이 없을 경우 []반환
tels = re.findall(tel_pattern, data)
tels

['031)789-4567', '010.5544.1234']

In [47]:
tels2 = re.findall(tel_pattern, data2)
tels2

[]

In [48]:
# re.search() : 정규표현식 패턴과 일치하는 처음 단어만 찾음
pattern = "(\d{2,3}).?([0-9]{3,4})-(\d{4})"
firstTel = re.search(pattern, data)
firstTel

In [49]:
data[12:24]  # 문자 슬라이싱

'031)789-4567'

In [50]:
print("전화번호 전체 :", firstTel.group(0))
print("국번 :", firstTel.group(1))
print("중간번호 :", firstTel.group(2))
print("끝번호 :", firstTel.group(3))

전화번호 전체 : 031)789-4567
국번 : 031
중간번호 : 789
끝번호 : 4567

In [54]:
# re.sub() : 문자열에서 특정 패턴을 찾아 다른 문자열로 변경
data = re.sub(r'[)\.]','-',data)
re.sub(r'[^\d가-힣\s\-]','',data)  # 특수문자, 자음, 모음 없애기

'홍길동인데 전화번호가 031-789-4567이고 휴대폰은 010-5544-1234 오늘 날씨가 엄청 좋네요  '

In [38]:
# 파일 경로에는 반드시 r,\\, /중 하나를 사용
file_path = r"C:\ai_x\source\01_python\text.txt"
file_path = "C:\\ai_x\\source\\01_python\\text.txt"
file_path = "C:/ai_x/source/01_python/text.txt"           # 1,3을 주로 사용

In [39]:
file_stream = open(file_path, 'w')
print("Hello", "world", sep = " ~ ")  # 콘솔 출력
print("Hello", "world", sep = " ~ ", file = file_stream)  # 파일 출력
file_stream.close()  # close를 하지 않으면 파일 저장이 안 됨

Hello ~ world

### ※문자열 슬라이싱

In [59]:
str_ = 'abcdefghijklmnopqrstuvwxyz'
str_

'abcdefghijklmnopqrstuvwxyz'

In [60]:
# 문자 인덱싱
str_[0], str_[2], str_[-1], str_[-3]

('a', 'c', 'z', 'x')

In [62]:
str_[30]  # 없는 인덱싱은 error

IndexError: string index out of range

문자열(Index)
```
첫 문자의 index = 0
음수는 맨뒤의 문자부터 의미
    Ex.  P  y  t  h  o  n
         0  1  2  3  4  5
        -6 -5 -4 -3 -2 -1
```

문자변수
```
문자변수[from:stop] : from부터 stop 앞까지 추출
문자변수[from:stop:step] : from부터 stop 앞까지 step씩 건너뛰며 추출
    from 생략시 처음부터
    stop 생략시 끝까지     ※인덱스 범위를 벗아나면 끝까지를 의미
    step 생략시 1
```

In [74]:
print(str_[0:5])
print(str_[0:8:2])
print(str_[::3])
print(str_[-5:-1])
print(str_[-4:])
print(str_[-6:50])
print(str_[15:0:-2])

abcde
aceg
adgjmpsvy
vwxy
wxyz
pnljhfdb

In [80]:
# 처음부터 6번 인덱스까지 추출
print(str_[:7])
# 5번 인데스부터 끝까지 추출
print(str_[5:])
# str_ 거꾸로 출력
print(str_[::-1])

abcdefg
fghijklmnopqrstuvwxyz
zyxwvutsrqponmlkjihgfedcba

## 3.3 논리형(True/False)

In [88]:
a = True
print(a)                    # a : 매개변수는 = 인자
print(type(a))              # a변수의 타입
print(isinstance(a, bool))  # isinstance(변수, 타입)
print('a 주소 :', id(a))
b = True
print('b 주소 :', id(b))
b = False
print('b 주소 :', id(b))

True
<class 'bool'>
True
a 주소 : 140711178946768
b 주소 : 140711178946768
b 주소 : 140711178946800

In [83]:
int(True), int(False)

(1, 0)

In [84]:
# False로 간주되는 것 : 0,""(빈스트림), None, [], (), {}
# False외의 값은 다 True " "

In [90]:
if []:
    print('True다')
else:
    print('False다')

False다

## 3.4 자료형 확인 및 형변환 함수
- type(변수)
- isinstance(변수, 타입)

- int()   : 정수형으로 변환
- float() : 실수형으로 변환
- str()   : 문자형으로 변환
- bool()  : 논리형으로 변환

In [91]:
int("123"), int(123.9), int(True), int("10 ")

(123, 123, 1)

In [95]:
float("123.5"), float(123), float(True), float("123"), float("  123   ")

(123.5, 123.0, 1.0, 123.0, 123.0)

In [93]:
# int() 에러나는 것들
# int("123.5")
# int(' ')
# int("")
# int("1,000")

In [96]:
# float() 에러나는 것들
# float("1,000.0")
# float(" ")
# float('')

In [97]:
str(10), str(10.5), str(True), str(1.12e12)

('10', '10.5', 'True', '1120000000000.0')

In [98]:
bool(""), bool(0), bool(0.0), bool([]), bool(()), bool({}), bool(None)

(False, False, False, False, False, False, False)

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라이싱, raw데이터(정규표현식, 파일경로)
3. 논리 - False로 판별되는 경우

# 4절. 포맷팅
- 포맷팅이란, 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음

## 4.1 문자열에 출력형식 지정

In [99]:
name = "홍길동"
age = 30
print(name, '님의 나이는 ', age, '살입니다', sep = '')

홍길동님의 나이는 30살입니다

In [105]:
print("%s님의 나이는 %d살입니다"%(name, age))    # %s : 문자, %d : 정수, %f : 실수
        # 요즘은 잘 안쓰임
print(f"{name}님의 나이는 {age}살입니다")
        # 두번째로 많이 쓰임
print("{}님의 나이는 {}살입니다".format(name, age))
        # 제일 많이 쓰임

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다

## 4.2 format() 문법
- "{[인덱스]:[자릿수][타입]}".format(변수)
- 인덱스 : format함수 안의 매개변수의 순서
- 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(중앙정렬)
- 정수자릿수 : 출력될 자릿수, 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
- 실수자릿수 : 출력될 자릿수.소수점이하 출력자릿수f
- 문자자릿수 : 전체확보될 자릿수[.변수 중 출력할 자릿수]s
- 타입 : d(10진수 정수), b(2진수), x(16진수), f(실수), s(문자)
- 2진수 1100 1000 1001 0011 => 16진수로 변환시 4자리씩 끊어서 계산 => C893
- 공백대체문자를 쓸 경우 정렬방식을 반드시 기입해야 함

In [109]:
name = input('이름은? ')
age = int(input('나이는? '))
print("{}살 {}님 반갑습니다".format(age, name))
print("{1:*^4d}살 {0:_>10}님 반갑습니다".format(name, age))

이름은? 홍길동
나이는? 30
30살 홍길동님 반갑습니다
*30*살 _______홍길동님 반갑습니다

In [110]:
# 숫자의 경우 : 오른쪽정렬(기본값)
# 문자의 경우 : 왼쪽정렬(기본값)
# 변수보다 작은 자릿수를 지정하면 자릿수가 무시되고 다 출력(정수 자릿수)

i = 12345
s = "Hello"
print("[{0}], [{0:10}], [{0:3}]".format(i))
print("[{0}], [{0:10}], [{0:3}]".format(s))

[12345], [     12345], [12345]
[Hello], [Hello     ], [Hello]

In [114]:
# 문자 : 전체자릿수.표현자릿수
# 실수 : 전체자릿수.소수점이하 표현될 자릿수

f = 2.758
s = "Hello"
print("f = [{:5.2f}]".format(f))
print("s = [{:5.2}]".format(s))
print("f = [{:$>5.2f}]".format(f))
print("s = [{:*<5.2}]".format(s))

f = [ 2.76]
s = [He   ]
f = [$2.76]
s = [He***]

In [140]:
# + : 부호를 출력

a, b = 123, -123
print("[{:5}], [{:5}]".format(a, b))
print("[{:+5}], [{:+5}]".format(a, b))
print("[{:=+5}], [{:=+5}]".format(a, b))

[  123], [ -123]
[ +123], [ -123]
[+ 123], [- 123]

In [143]:
f = 2.785
print("f = [{:+10.2f}]".format(f))

f = [     +2.79]

In [145]:
sign = '+'
width = 10
precision = 3
print("[{:{}{}.{}f}]".format(f,
                             sign,
                             width,
                             precision))

[    +2.785]

In [146]:
print("[{:{sign}{width}.{precision}f}]".format(f,
                                               sign = sign,
                                               width = width,
                                               precision = precision))

[    +2.785]

In [124]:
a = 15
print("10진수 a = [{:5d}]".format(a))
print("16진수 a = [{:5x}]".format(a))
print(" 2진수 a = [{:5b}]".format(a))

10진수 a = [   15]
16진수 a = [    f]
 2진수 a = [ 1111]

## 4.3 날짜출력

In [127]:
import datetime
from datetime import datetime

now = datetime.now()
now

datetime.datetime(2025, 4, 9, 17, 45, 15, 386798)

In [139]:
print("{}".format(now))
print("{:%Y년%m월%d일 %p %I시%M분%S초}".format(now))
print("{:%Y년%m월%d일 %H시%M분%S초}".format(now))
print(now.strftime("%Y년%m월%d일 %H시%M분%S초"))

2025-04-09 17:45:15.386798
2025년04월09일 PM 05시45분15초
2025년04월09일 17시45분15초
2025년04월09일 17시45분15초