In [1]:
from IPython.display import display, HTML
display(HTML("""<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{fontsize:12pt;padding:5px;}
table.dataframe{font-size:12px;}))
</style>
"""))

<font size="5" color="red">연습문제(라벨인코딩_스케일조정)</font>

# 1. 데이터 가져오기

In [3]:
import pandas as pd

df = pd.read_csv('C:/ai_x/download/shareData/부동산/전국 평균 평당 분양가격(결측치 제외).csv', encoding = 'cp949')
df.head()

  지역명    연도   월   평당분양가격
0  서울  2013  12  18189.0
1  부산  2013  12   8111.0
2  대구  2013  12   8080.0
3  인천  2013  12  10204.0
4  광주  2013  12   6098.0

In [5]:
# 전체 내용
display(df)

# 독립변수를 넘파이배열로
display(df.iloc[:, :-1].values)

# 종속변수를 넘파이배열로
display(df.iloc[:, -1:].values)

     지역명    연도   월   평당분양가격
0     서울  2013  12  18189.0
1     부산  2013  12   8111.0
2     대구  2013  12   8080.0
3     인천  2013  12  10204.0
4     광주  2013  12   6098.0
...   ..   ...  ..      ...
2171  전북  2024   8  12058.2
2172  전남  2024   8  13120.8
2173  경북  2024   8  13827.0
2174  경남  2024   8  13252.8
2175  제주  2024   8  25419.9

[2176 rows x 4 columns]

array([['서울', 2013, 12],
       ['부산', 2013, 12],
       ['대구', 2013, 12],
       ...,
       ['경북', 2024, 8],
       ['경남', 2024, 8],
       ['제주', 2024, 8]], dtype=object)

array([[18189. ],
       [ 8111. ],
       [ 8080. ],
       ...,
       [13827. ],
       [13252.8],
       [25419.9]])

# 2. 지역명의 라벨 인코딩

- 지역명을 라벨인코딩한 지역명2 (분석할 경우 원핫인코딩까지 할 것을 추천)

# 3. normalization 스케일 조정

- 입력변수(지역명2, 연도, 월)와 타켓변수(평당분양가격) 따로 스케일 조정 (MinMaxScaler 이용)
- 지역명2n, 연도n, 월n 필드 추가

# 4. standarization 스케일 조정

- 입력변수(지역명2, 연도, 월)와 타켓변수(평당분양가격) 따로 스케일 조정 (StandardScaler 이용)
- 지역명2s, 연도s, 월s 필드 추가